.grid-gap-0 { grid-gap: 0; }

.grid-gap-1 { grid-gap: 0.25rem; }

.grid-gap-2 { grid-gap: 0.5rem; }

.grid-gap-3 { grid-gap: 1rem; }

.grid-gap-4 { grid-gap: 1.5rem; }

.grid-gap-5 { grid-gap: 3rem; }

.d-grid { display: grid; }

@media (min-width: 0) { .d-xs-grid { display: grid; } }

@media (min-width: 576px) { .d-sm-grid { display: grid; } }

@media (min-width: 768px) { .d-md-grid { display: grid; } }

@media (min-width: 992px) { .d-lg-grid { display: grid; } }

@media (min-width: 1200px) { .d-xl-grid { display: grid; } }

.grid-column-1 { grid-template-columns: repeat(1, 1fr); }

.grid-column-2 { grid-template-columns: repeat(2, 1fr); }

.grid-column-3 { grid-template-columns: repeat(3, 1fr); }

.grid-column-4 { grid-template-columns: repeat(4, 1fr); }

.grid-column-5 { grid-template-columns: repeat(5, 1fr); }

@media (min-width: 0) { .grid-column-xs-1 { grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 0) { .grid-column-xs-2 { grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 0) { .grid-column-xs-3 { grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 0) { .grid-column-xs-4 { grid-template-columns: repeat(4, 1fr); } }

@media (min-width: 0) { .grid-column-xs-5 { grid-template-columns: repeat(5, 1fr); } }

@media (min-width: 576px) { .grid-column-sm-1 { grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 576px) { .grid-column-sm-2 { grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 576px) { .grid-column-sm-3 { grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 576px) { .grid-column-sm-4 { grid-template-columns: repeat(4, 1fr); } }

@media (min-width: 576px) { .grid-column-sm-5 { grid-template-columns: repeat(5, 1fr); } }

@media (min-width: 768px) { .grid-column-md-1 { grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 768px) { .grid-column-md-2 { grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 768px) { .grid-column-md-3 { grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 768px) { .grid-column-md-4 { grid-template-columns: repeat(4, 1fr); } }

@media (min-width: 768px) { .grid-column-md-5 { grid-template-columns: repeat(5, 1fr); } }

@media (min-width: 992px) { .grid-column-lg-1 { grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 992px) { .grid-column-lg-2 { grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 992px) { .grid-column-lg-3 { grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 992px) { .grid-column-lg-4 { grid-template-columns: repeat(4, 1fr); } }

@media (min-width: 992px) { .grid-column-lg-5 { grid-template-columns: repeat(5, 1fr); } }

@media (min-width: 1200px) { .grid-column-xl-1 { grid-template-columns: repeat(1, 1fr); } }

@media (min-width: 1200px) { .grid-column-xl-2 { grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 1200px) { .grid-column-xl-3 { grid-template-columns: repeat(3, 1fr); } }

@media (min-width: 1200px) { .grid-column-xl-4 { grid-template-columns: repeat(4, 1fr); } }

@media (min-width: 1200px) { .grid-column-xl-5 { grid-template-columns: repeat(5, 1fr); } }
