.file-icon::before {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: -5px;
  content: "";
  background-size: 1.5rem 1.5rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  background-image: url("../images/file types/default_file.svg"); }
.file-icon.file-icon-folder::before {
  background-image: url("../images/file types/default_folder.svg"); }
.file-icon[href$='.zip']::before {
  background-image: url("../images/file types/file_type_zip.svg"); }
.file-icon[href$='.tar']::before {
  background-image: url("../images/file types/tar.ico"); }
.file-icon[href$='.rar']::before {
  background-image: url("../images/file types/rar.ico"); }
.file-icon[href$='.cbz']::before, .file-icon[href$='.cbr']::before {
  background-image: url("../images/file types/honeyview.jfif"); }
.file-icon[href$='.py']::before {
  background-image: url("../images/file types/file_type_python.png"); }
.file-icon[href$='.js']::before {
  background-image: url("../images/file types/file_type_js.svg"); }
.file-icon[href$='.pdf']::before {
  background-image: url("../images/file types/file_type_pdf.svg"); }
.file-icon[href$='.exe']::before, .file-icon[href$='.msi']::before {
  background-image: url("../images/file types/file_type_exe.svg"); }
.file-icon[href$='.bat']::before, .file-icon[href$='.sh']::before {
  background-image: url("../images/file types/file_type_bat.svg"); }
.file-icon[href$='.php']::before, .file-icon[href$='.phar']::before {
  background-image: url("../images/file types/file_type_php.svg"); }
.file-icon[href$='.xml']::before {
  background-image: url("../images/file types/file_type_xml.svg"); }
.file-icon[href$='.html']::before, .file-icon[href$='.htm']::before {
  background-image: url("../images/file types/file_type_html.svg"); }
.file-icon[href$='.ini']::before, .file-icon[href$='.env']::before, .file-icon[href$='.conf']::before {
  background-image: url("../images/file types/file_type_ini.svg"); }
.file-icon[href$='.txt']::before {
  background-image: url("../images/file types/file_type_text.svg"); }
.file-icon[href$='.xls']::before, .file-icon[href$='.xlsx']::before {
  background-image: url("../images/file types/file_type_excel.svg"); }
.file-icon[href$='.doc']::before, .file-icon[href$='.docx']::before {
  background-image: url("../images/file types/file_type_word.svg"); }
.file-icon[href$='.ppt']::before, .file-icon[href$='.pptx']::before {
  background-image: url("../images/file types/file_type_powerpoint.svg"); }
.file-icon[href$='.sql']::before {
  background-image: url("../images/file types/file_type_sql.svg"); }
.file-icon[href$='.md']::before {
  background-image: url("../images/file types/file_type_markdown.svg"); }
.file-icon[href$='.json']::before {
  background-image: url("../images/file types/file_type_json.svg"); }
.file-icon[href$='.png']::before, .file-icon[href$='.jpg']::before, .file-icon[href$='.jpeg']::before, .file-icon[href$='.gif']::before, .file-icon[href$='.webp']::before {
  background-image: url("../images/file types/file_type_image.svg"); }
.file-icon[href$='.mp4']::before, .file-icon[href$='.avi']::before, .file-icon[href$='.mkv']::before, .file-icon[href$='.webm']::before, .file-icon[href$='.flv']::before {
  background-image: url("../images/file types/file_type_video.svg"); }
.file-icon[href$='.mp3']::before, .file-icon[href$='.wav']::before, .file-icon[href$='.wma']::before, .file-icon[href$='.ape']::before, .file-icon[href$='.flac']::before {
  background-image: url("../images/file types/file_type_audio.svg"); }
.file-icon[href$='.ttf']::before, .file-icon[href$='.eot']::before, .file-icon[href$='.woff']::before, .file-icon[href$='.woff2']::before {
  background-image: url("../images/file types/file_type_font.svg"); }
.file-icon[href$='.svg']::before {
  background-image: url("../images/file types/file_type_svg.svg"); }
.file-icon[href$='.css']::before {
  background-image: url("../images/file types/file_type_css.svg"); }
.file-icon[href$='.scss']::before {
  background-image: url("../images/file types/file_type_scss.svg"); }
.file-icon[href$='.vue']::before {
  background-image: url("../images/file types/file_type_vue.svg"); }
.file-icon[href$='.ts']::before {
  background-image: url("../images/file types/file_type_typescript.svg"); }
.file-icon[href$='.gitignore']::before {
  background-image: url("../images/file types/file_type_git.svg"); }
.file-icon[href$='.yml']::before {
  background-image: url("../images/file types/file_type_yaml.svg"); }
.file-icon[href$='.epub']::before, .file-icon[href$='.mobi']::before, .file-icon[href$='.prc']::before {
  background-image: url("../images/file types/file_type_epub.svg"); }
.file-icon[href$='.dll']::before {
  background-image: url("../images/file types/file_type_dll.svg"); }

/*# sourceMappingURL=file-icon.css.map */
