.file-icon {
  padding-left: 2rem;
  background-size: 1.5rem 1.5rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  background-image: url("../images/file types/default_file.svg"); }
  .file-icon.file-icon-folder {
    background-image: url("../images/file types/default_folder.svg"); }
  .file-icon[href$='.zip'] {
    background-image: url("../images/file types/file_type_zip.svg"); }
  .file-icon[href$='.tar'] {
    background-image: url("../images/file types/tar.ico"); }
  .file-icon[href$='.rar'] {
    background-image: url("../images/file types/rar.ico"); }
  .file-icon[href$='.cbz'], .file-icon[href$='.cbr'] {
    background-image: url("../images/file types/honeyview.jfif"); }
  .file-icon[href$='.py'] {
    background-image: url("../images/file types/file_type_python.png"); }
  .file-icon[href$='.js'] {
    background-image: url("../images/file types/file_type_js.svg"); }
  .file-icon[href$='.pdf'] {
    background-image: url("../images/file types/file_type_pdf.svg"); }
  .file-icon[href$='.exe'], .file-icon[href$='.msi'] {
    background-image: url("../images/file types/file_type_exe.svg"); }
  .file-icon[href$='.bat'], .file-icon[href$='.sh'] {
    background-image: url("../images/file types/file_type_bat.svg"); }
  .file-icon[href$='.php'], .file-icon[href$='.phar'] {
    background-image: url("../images/file types/file_type_php.svg"); }
  .file-icon[href$='.xml'] {
    background-image: url("../images/file types/file_type_xml.svg"); }
  .file-icon[href$='.html'] {
    background-image: url("../images/file types/file_type_html.svg"); }
  .file-icon[href$='.ini'], .file-icon[href$='.env'], .file-icon[href$='.conf'] {
    background-image: url("../images/file types/file_type_ini.svg"); }
  .file-icon[href$='.txt'] {
    background-image: url("../images/file types/file_type_text.svg"); }
  .file-icon[href$='.xls'], .file-icon[href$='.xlsx'] {
    background-image: url("../images/file types/file_type_excel.svg"); }
  .file-icon[href$='.doc'], .file-icon[href$='.docx'] {
    background-image: url("../images/file types/file_type_word.svg"); }
  .file-icon[href$='.ppt'], .file-icon[href$='.pptx'] {
    background-image: url("../images/file types/file_type_powerpoint.svg"); }
  .file-icon[href$='.sql'] {
    background-image: url("../images/file types/file_type_sql.svg"); }
  .file-icon[href$='.md'] {
    background-image: url("../images/file types/file_type_markdown.svg"); }
  .file-icon[href$='.json'] {
    background-image: url("../images/file types/file_type_json.svg"); }
  .file-icon[href$='.png'], .file-icon[href$='.jpg'], .file-icon[href$='.jpeg'] {
    background-image: url("../images/file types/file_type_image.svg"); }
  .file-icon[href$='.mp4'], .file-icon[href$='.avi'], .file-icon[href$='.mkv'] {
    background-image: url("../images/file types/file_type_video.svg"); }
  .file-icon[href$='.mp3'], .file-icon[href$='.wav'] {
    background-image: url("../images/file types/file_type_audio.svg"); }
  .file-icon[href$='.ttf'], .file-icon[href$='.eot'], .file-icon[href$='.woff'], .file-icon[href$='.woff2'] {
    background-image: url("../images/file types/file_type_font.svg"); }
  .file-icon[href$='.svg'] {
    background-image: url("../images/file types/file_type_svg.svg"); }
  .file-icon[href$='.css'] {
    background-image: url("../images/file types/file_type_css.svg"); }
  .file-icon[href$='.scss'] {
    background-image: url("../images/file types/file_type_scss.svg"); }
  .file-icon[href$='.vue'] {
    background-image: url("../images/file types/file_type_vue.svg"); }
  .file-icon[href$='.ts'] {
    background-image: url("../images/file types/file_type_typescript.svg"); }
  .file-icon[href$='.git'], .file-icon[href$='.gitignore'] {
    background-image: url("../images/file types/file_type_git.svg") !important; }
  .file-icon[href$='.yml'] {
    background-image: url("../images/file types/file_type_yaml.svg"); }

/*# sourceMappingURL=file-icon.css.map */
