/* Danh sách */
.my-emoji-list {
	width: 440px;
	height: 280px;
	overflow: auto;
	padding-left: 1rem;
}

/* Ảnh trong dropdown chọn */
.my-emoji-list img.my-emoji-button {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    padding: 0px;
}

/* Ảnh trong editor */
img.my-emoji-inline {
    display: inline-block;
    vertical-align: baseline;
    height: 4rem;
    width: auto;
}
