body {    
    &.dark-theme {
        $bgColor: #1d1d1d;

        background-color: $bgColor;

        article {
            background-color: $bgColor;
        }

        .mobile-header {
            background-color: $bgColor !important;
        }
    }
}
