
.text-orange {
    color: orange !important;
}

.ruler {
    border: 3px solid #f1f1f1;
}

/* Three column layout */
.w-15 {
    width: 15%;
}

.w-70 {
    width: 70%;
}

.bar {
    height: 18px;
}

/*
    Responsive layout - make the columns stack on top of each other instead of
    next to each other
*/
@media (max-width: 767px) {
    .side,
    .middle {
        width: 100%;
    }
    
    .right {
        display: none;
    }
}