.wrapper { width: 200px; border: 1px solid #555; box-sizing: border-box; }
.wrapper .bg { background-color: red; }
.wrapper .bg .el { width: 200px; font-size: 50px; text-align: center; color: cyan; mix-blend-mode: difference; }
