.vertical-align-middle > * {
    vertical-align: middle;
}
.vertical-align-top > * {
    vertical-align: top;
}
.vertical-align-bottom > * {
    vertical-align: bottom;
}
.vertical-align-baseline > * {
    vertical-align: baseline;
}

.line-height-1 {
    height: 90px;
    line-height: 90px;
}

.line-height-2 {
    height: 200px;
    line-height: 200px;
}

.line-height-2 span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.line-height-3 .child-3 {
    line-height: 200px;
}

.table-1 {
    display: table;
    height: 100px;
    width: 100%;
}

.table-1 span {
    display: table-cell;
    vertical-align: middle;
}



.table-container {
    display: table;
}

.table-item {
    display: table-cell;
    vertical-align: middle;
}



.absolute1 {
    width: 200px;
    height: 100px;
    line-height: 100px;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -100px;
}

.absolute2 {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
