.fieldset { border: 1px solid #33CCFF; padding: 0 5px 5px; margin-bottom: 10px; }

.legend { font-weight: bold; font-size: 11px; padding: 2px 5px; color: #666666; }

.legend-text { display: inline-block; background-color: #FFF; margin-top: -10px; }

.legend-image { background-repeat: repeat-x; background-size: contain; margin: 0 -5px 5px; }

.legend-image-1 { background-image: url(../images/legend-1.gif); }

.legend-image-2 { background-image: url(../images/legend-2.gif); }

.legend-image-3 { background-image: url(../images/legend-3.png); }

.legend-image-4 { background-image: url(../images/legend-4.png); }

.legend-image-5 { background-image: url(../images/legend-5.png); }

.legend-image-6 { background-image: url(../images/legend-6.jpg); }
