* {
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
	outline: none;
}

/*
body {
    width: 550px;
}
*/

#chapterLinks {
    min-height: 200px;
}



.website-logo {
    width: 8rem;
    height: 3rem;
}