.editor__controls { width: 100%; padding: 15px 0 10px; display: flex; flex-direction: row; flex-wrap: wrap; }
.editor__controls button { flex-grow: 1; outline: none; border: none; color: #fff; padding: 10px 10px; margin: 2px; cursor: pointer; height: unset; line-height: 1; }
.editor__controls button:hover { background-color: #555; }
.editor__controls .btn-succes { background-color: green; color: yellow; }
.editor__controls .btn-succes i { color: white; }
.editor__controls .btn-error { background-color: grey; color: black; }
.editor__controls .btn-error i { color: black; }
.editor__content { border: 1px solid #555; min-height: 200px; padding: 5px; }
