.chartContainer {
    max-width: 600px;
    margin: 30px auto;
}

#portrait {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#container {
    min-width: 360px;
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
  }