.progress-circles {
    .step {
        width: 64px;
        text-align: center;
        position: relative;

        // circles
        &::before {
            content: "";
            display: block;
            background: #ddd;
            width: 32px;
            height: 32px;
            border: 3px solid #ccc;
            border-radius: 100%;
            margin: 0 auto 1rem auto;
            position: relative;
            z-index: 20;
        }

        // lines
        &::after {
            content: "";
            position: absolute;
            background: #ccc;
            width: 64px;
            height: 3px;
            top: 15px;
            left: 16px;
            z-index: 10;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    .step-done {
        &::before,
        &::after {
            background: darkgreen;
            border-color: darkgreen;
        }
    }

    .step-current {
        &::before {
            background: #ccc;
            border-color: darkgreen;
        }
    }
}
