#perspective-container{
  -webkit-perspective: 1200px;
  perspective: 1200px;
  -webkit-transform-style: preserve-3d;
  padding: 2em;
  background: #ccc;
  max-width: 700px;
  margin: 0 auto;
  font-family: Avenir, Helvetica, sans-serif;
}
#model1 {
  webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
  width: 50%;
}
#perspective-container, #model1 {
  margin-bottom: 4rem;
  margin: 0 auto;
  display: block;
}
#codesample{
  width: 80%;
  margin: 0 auto;
}
#container img{ 
  margin-bottom: 2em;
}
#slidercontainer {
  margin-left: 30%
}
#perspective-slider { 
  margin: 5%;
  margin-top: 2rem;
}
#codesample{
  background: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  margin-top: 1rem;
}
