.terminal-window {
    position: relative;
}

.terminal-window:before,
.terminal-window:after {
    position: absolute;
}

.terminal-window {
    margin-top: 2rem;
    margin-bottom: 3rem;
    /*padding: 26px 4px 4px;*/
    padding: 4px;
    border-radius: 5px;
    /*background: linear-gradient(#f6f6f6, #d3d3d3 20px, #7e7e7e 20px, #7e7e7e 21px, #393456 21px);*/
    background: #393456;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.terminal-window:before {
    /*content: " ";*/
    width: 10px;
    height: 10px;
    margin: -20px 0 0 5px;
    border-radius: 5px;
    background: #fc625d;
    box-shadow: 0 0 0 1px #de413e, 15px 0 #fec041, 15px 0 0 1px #dda035, 30px 0 #35cc4b, 30px 0 0 1px #28aa36;
}

.terminal-window:after {
    width: 100%;
    /*content: "Terminal";*/
    top: 0;
    text-align: center;
    color: #4c4c4c;
    line-height: 20px;
}

.terminal-window pre {
    background: transparent;
    margin-bottom: 0;
    color: #fff;
}

.terminal-window span.command:before {
    content: "$";
    margin-right: 8px;
    opacity: 0.5;
    line-height: 18px;
}
