.scrollbar-wrapper {

    .scrollbar {
        height: 300px;
        
        overflow-y: scroll;
        margin-bottom: 25px;
        background-image: url(../images/azusa.jpg);

        .force-overflow {
            min-height: 450px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 64px;
            color: blue;
        }
    }
}

