body {
  margin-top: 50px;
  background-color: hsl(0, 0%, 10%);
  overflow: hidden;
}

input[type=button] {
  width: 100px;
  height: 30px;
  background-color: hsl(0, 0%, 60%);
  border: 0;
}

h5 {
  color: white;
  font-family: Arial;
}