.highlighted {
    animation-name: animateState;
    animation-duration: 2s;
}

.progress {
	height: 0.25rem;
}

@keyframes animateState {
     0% { background-color: #46DB35; }
    10% { background-color: #46DB35; }
    20% { background-color: #cccccc; }
    30% { background-color: #46DB35; }
    40% { background-color: #cccccc; }
    50% { background-color: #46DB35; }
    60% { background-color: #cccccc; }
}
