iframe {
  border: none;
  display: block;
  width: 100%;
  margin: 10px auto;
}
#calendarFrame {
  max-width: 500px;
  height: 600px;
}
#weatherFrame {
  max-width: 200px;
  height: 570px;
}
#oilFrame {
  max-width: 500px;
  height: 200px;
}
