* {
    margin: 0;
    box-sizing: border-box;
}

.btns {
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.section {
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    font-size: 100px;
}

.section:nth-child(even) {
    background: #eee;
}

.section:nth-child(odd) {
    background: #ccc;
}
