/* Style cho inline SVG */
.kiwi {
    fill: #94d31b; 
}

.kiwi:hover {
    fill: #ace63c; 
}

.ground:hover {
    filter: url(#pictureFilter);
}

ellipse:hover {
    fill: red;
}

/* Style của inline SVG, load bằng AJAX */
#demo svg {
    max-width: 100%;
}

/* Tooltip của bản đồ Việt Nam */
.map-tooltip {
    position: absolute;
    z-index: 2;
    display: none;
    font-size: 15px;
    width: 100px;
    height: auto;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px #666;
    background: rgba(52,188,157, 0.8);
}

#map svg {
    max-width: 100%;
}

#map path:hover {
	fill: #00F;
}

/* Bản đồ thế giới */
#countries svg {
    width: 100%;
    height: auto;
}

#countries path {
    fill: lightgray;
    stroke: white;
}

#countries path:hover {
    /* Không ăn do có inline fill */
    fill: gray;
}
