<!DOCTYPE html>
<html lang="vi">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Datatable demo">
    <title>Datatable demo</title>
    <link rel="icon" href="../../images/favicon.png">
    <link rel="stylesheet" href="../../css/style.css">    
</head>

<body>
    <article>
        <h2>Datatable demo: không sử dụng AJAX</h2>
        <p>Có sẵn sắp xếp, tìm kiếm nhanh, phân trang.</p>
        <p>Nếu chúng ta không chỉ định <code>searchableProps</code> thì sẽ không hiển thị ô tìm kiếm nhanh.</p>
        
        <h2>Datatable demo: merge header</h2>
        <p>Đơn giản là tự sửa code của thead.</p>

        <h2>Datatable demo: phân trang</h2>
        <p>Mặc định sẽ phân trang ở phía trên, mỗi trang 10 bản ghi.</p>
        <p>Chúng ta có thể điều chỉnh bằng các thuộc tính <code>paginationPosition</code> và <code>paginationSize</code>.</p>

        <div id="app">
            <!-- Thêm ô search -->
            <div class="py-2 d-flex justify-content-end">
                <input class="form-control"
                    style="width: 200px;"
                    placeholder="Tìm kiếm nhanh"
                    v-model="searchText"
                    @input="search()"/>
            </div>

            <!-- Tạo icon đang xử lý -->
            <div class="loader">
                <svg version="1.1"
                    id="loader-1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    width="40px"
                    height="40px"
                    viewBox="0 0 40 40"
                    enable-background="new 0 0 40 40" xml:space="preserve">
                    <path opacity="0.2"
                        fill="#000"
                        d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                            s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                            c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
                        <path fill="#000"
                            d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                                C22.32,8.481,24.301,9.057,26.013,10.047z">
                            <animateTransform attributeType="xml"
                                attributeName="transform"
                                type="rotate"
                                from="0 20 20"
                                to="360 20 20"
                                dur="0.5s"
                                repeatCount="indefinite"></animateTransform>
                    </path>
                </svg>
            </div>

            <table class="table table-bordered table-striped table-hover"
                v-show="items.length > 0">
                <!--thead>
                    <tr>
                        <th class="text-right">
                            Stt
                        </th>
                        <th data-sort-column="country">
                            Quốc gia
                        </th>
                        <th class="text-right" data-sort-column="population">
                            Dân số
                        </th>
                        <th class="text-center" data-sort-column="fake_date">
                            Ngày nào đó
                        </th>
                    </tr>
                </thead-->

                <thead>
                    <tr>
                        <th class="text-right" rowspan="2">
                            Stt
                        </th>
                        <th data-sort-column="country" rowspan="2">
                            Quốc gia
                        </th>
                        <th class="text-center" colspan="2">
                            Thống kê
                        </th>
                    </tr>
                    <tr>
                        <th class="text-right" data-sort-column="population">
                            Dân số
                        </th>
                        <th class="text-center" data-sort-column="fake_date">
                            Ngày nào đó
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="(dataEle, i) in items">
                        <td class="text-right">
                            {{$refs.pagi.startIndex + i + 1}}
                        </td>
                        <td>
                            {{dataEle.country}}
                        </td>
                        <td class="text-right">
                            {{dataEle.population}}
                        </td>
                        <td class="text-center">
                            {{dataEle.fake_date}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <pagi :callback-func="gotoPage"
                ref="pagi"
                :options="{ pageSize: 5 }"></pagi>
        </div>
    </article>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
    
    <script src="../project - pagi/js/pagi.js"></script>

    <link rel="stylesheet" href="css/datatable.css"/>
    
    <script type="module" src="js/script_1_no_ajax.js"></script>
</body>
</html>