.editor {
	&__controls { 
		width: 100%;
		padding: 15px 0 10px;
		display: flex;
        flex-direction: row;
        flex-wrap: wrap;

		button {
			flex-grow: 1;
			outline: none;
			border: none;
			color: #fff;
			padding: 10px 10px;
			margin: 2px;
            cursor: pointer;
            height: unset;
            line-height: 1;
			
			&:hover {
				background-color: #555;
            }
        }
        
        .btn-succes {
            background-color: green;
            color: yellow;

            i {
                color:white;
            }
        }
        
        .btn-error {
            background-color: grey;
            color: black;

            i {
                color: black;
            }
        }
	}

	&__content {
		border: 1px solid #555;
		min-height: 200px;
		padding: 5px;
	}
}
