.MenuContainer
  input.HiddenCheckbox#menu(type="checkbox", name="menu")
  label.MenuIcon(for="menu")
  h2.MenuHeader Profile Menu
  nav.Menu
    ul.Menu-list
      li.Menu-item: a.Menu-link(href="https://codepen.io/rthor", target="_blank") Visit Profile
      li.Menu-item: a.Menu-link(href="http://rthor.is", target="_blank") Read Blog
      li.Menu-item: a.Menu-link(href="https://github.com/rthor", target="_blank") Checkout Code