#detailInfo {
	display: flex;
	top: 0px;
	bottom: 0px;
	z-index: 20;

	.model-dialog {
		background-color: rgba(71,77,93, 0.95);
		width: 90%;
		max-width: 750px;
	}

	#photo {
		width: 15rem;
		height: 15rem;
	}

	#gender {
		width: 1rem;
		height: 1rem;
	}
}



svg {
	font: 10px sans-serif;
}
.linage {
    fill: none;
    stroke: #FEFD7F;
    stroke: #000;
}
.marriage {
    fill: none;
    stroke: #000; 
}
.node {
	background-color: lightblue;
	border-style: solid;
	border-width: 1px;
	border-radius: 0.5em;
}
.nodeText {
	font: 10px sans-serif;
	min-height: 52px;
	color: #444;
	padding: 15px;
	text-align: center;
	margin: 0;
}



.person {
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
}
.male {
	background-color: lightblue;
	
}
.female {
	background-color: pink;
}



.select-person {
	width: 11rem;
}

.relation-name {
	min-width: 10rem;
}

[v-cloak] {
	display: none;
}

.selected {
	/*
	box-shadow: 
		0 0 10px azure,
		0 0 20px aqua,
		0 0 40px dodgerblue,
		0 0 60px blue;
	*/
	background-color: #FEFD7F;
}

