.font-fredoka {
    font-family: 'Fredoka One', cursive;
}

.letter {
    border-radius: 15px;

    .illustration {
        width: 150px;
        height: 150px;
    }
}

.bg-color-0 {
    background-color: #9aaecf;
}

.bg-color-1 {
    background-color: #f7ff9a;
}

.bg-color-2 {
    background-color: #c99ecb;
}

.bg-color-3 {
    background-color: #ee8b52;
}

.bg-color-4 {
    background-color: #56becb;
}

.bg-color-5 {
    background-color: #f3cfcf;
}

.bg-color-6 {
    background-color: #f7af85;
}

.bg-color-7 {
    background-color: #a2ca4d;
}

.bg-color-8 {
    background-color: #ef8b89;
}

.bg-color-9 {
    background-color: #92ddee;
}
