* { margin: 0px; padding: 0px; font: inherit; }
body { display: flex; flex-direction: column; height: 100vh; font: 0.625em/1.5 trebuchet ms,verdana,century gothic,arial,sans-serif; text-align: center; }
svg { flex: 1 1 0%; align-self: center; width: 100vw; max-width: 65em; }
svg * { vector-effect: non-scaling-stroke; }
line { stroke: rgb(153, 153, 153); }
circle { fill: rgb(225, 135, 40); stroke: crimson; stroke-width: 2px; }
text { text-anchor: middle; dominant-baseline: middle; font: 5em courier,monospace; }
polyline { fill: none; stroke: rgb(85, 85, 85); stroke-width: 2px; }
form { padding: 0.5em; background: rgb(34, 34, 34) none repeat scroll 0% 0%; color: rgb(255, 255, 255); text-align: center; }
form > * { display: block; margin: 0px auto; }
input[type="range"] { border: 0.5em solid transparent; width: 8em; height: 1.5em; background: transparent none repeat scroll 0% 0%; color: rgb(174, 174, 174); cursor: pointer; }
input[type="range"]::-moz-range-track { width: 8em; height: 0.25em; background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
input[type="range"]::-moz-range-progress { background: currentcolor none repeat scroll 0% 0%; }
input[type="range"]::-moz-range-thumb { border: medium none; width: 1.25em; height: 1.25em; border-radius: 50%; background: currentcolor none repeat scroll 0% 0%; }
input[type="range"]:focus, input[type="range"]:focus + output { color: rgb(225, 135, 40); }
