html { height: 100vh; background: linear-gradient(silver 2px, transparent 2px) repeat scroll 0px calc(50vh - 1px), transparent linear-gradient(90deg, silver 2px, transparent 2px) repeat scroll calc(50vw - 1px) 0px; }
div { position: absolute; bottom: 50%; left: 50%; }
.loader {  }
.bar { width: 1.25em; height: 6.25em; }
.bar:nth-child(1) { margin-left: -6.25em; background: rgb(30, 63, 87) none repeat scroll 0% 0%; }
.bar:nth-child(2) { margin-left: -5em; background: rgb(38, 74, 99) none repeat scroll 0% 0%; }
.bar:nth-child(3) { margin-left: -3.75em; background: rgb(45, 86, 111) none repeat scroll 0% 0%; }
.bar:nth-child(4) { margin-left: -2.5em; background: rgb(53, 97, 122) none repeat scroll 0% 0%; }
.bar:nth-child(5) { margin-left: -1.25em; background: rgb(61, 109, 134) none repeat scroll 0% 0%; }
.bar:nth-child(6) { margin-left: 0em; background: rgb(68, 120, 146) none repeat scroll 0% 0%; }
.bar:nth-child(7) { margin-left: 1.25em; background: rgb(76, 132, 158) none repeat scroll 0% 0%; }
.bar:nth-child(8) { margin-left: 2.5em; background: rgb(84, 143, 169) none repeat scroll 0% 0%; }
.bar:nth-child(9) { margin-left: 3.75em; background: rgb(91, 155, 181) none repeat scroll 0% 0%; }
.bar:nth-child(10) { margin-left: 5em; background: rgb(99, 166, 193) none repeat scroll 0% 0%; }
