/* ::::: https://production-assets.codepen.io/assets/embed/v2/embed-e5abbd16321a97f429cbd81e145c2d21b7846205d177fd018c071695b6ad41e9.css ::::: */

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: rgb(215, 212, 240) none repeat scroll 0% 0%; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: rgb(215, 212, 240) none repeat scroll 0% 0%; }
.cm-tab-wrap-hack::after { content: ""; }
.CodeMirror-foldgutter-open::after { font-family: sans-serif; content: "▾"; }
.CodeMirror-foldgutter-folded::after { font-family: sans-serif; content: "▸"; }
body:not(.codepen-embed-body) .inline-error-hidden { height: 0px; padding: 0px; margin: 0px; border: 0px none; }
body:not(.codepen-embed-body) .inline-error-hidden .inline-error-message { visibility: hidden; }
body:not(.codepen-embed-body) .inline-error-hidden .inline-error-toggle { display: block; }
.embed-nav { font-family: initial; line-height: initial; font-size: initial; font-weight: initial; background: rgb(37, 37, 37) none repeat scroll 0% 0%; height: 50px; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); padding-left: 8px; position: relative; z-index: 2; }
.embed-nav ul { white-space: nowrap; position: relative; z-index: 1; list-style: outside none none; display: inline-block; padding: 0px; margin: 16px 0px 0px; font-size: 0px; }
.embed-nav ul li { display: inline-block; margin-right: 1px; }
.embed-nav ul li.results a { border-radius: 2px; margin-left: 10px; border: 0px none; }
.embed-nav ul li:first-child a { border-top-left-radius: 2px; border-bottom-left-radius: 2px; }
.embed-nav ul li:nth-last-child(2) a { border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
.embed-nav ul a { font-family: "Lato","Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif; transition: background 200ms ease 0s, box-shadow 200ms ease 0s; text-decoration: none; padding: 10px 16px; letter-spacing: 0.6px; font-size: 13px; box-shadow: 0px 3px transparent inset; }
.embed-nav .logo-wrap { position: absolute; top: 9px; right: 20px; height: 50px; }
.embed-nav .logo-wrap a { color: rgb(239, 239, 239); fill: rgb(239, 239, 239); text-decoration: none; }
.embed-nav .logo-wrap .open-on { font-family: "Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; text-align: right; display: block; font-size: 9px; letter-spacing: 3.5px; padding-bottom: 0px; margin-right: -3px; }
.embed-nav .logo-wrap #embed-codepen-logo { width: 99px; height: 23px; }
* { box-sizing: border-box; margin: 0px; padding: 0px; }
body { font-family: "Lato","Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif; line-height: 1.4; }
.large-logo { display: block; }
.box-logo { display: none; width: 20px; height: 20px; background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%; box-sizing: content-box; padding: 5px; border-radius: 100%; margin-top: 1px; }
#about-box { background-image: url('undefined'); display: none; width: 100%; height: 100%; position: relative; }
#about-box .about-container { transform: translate3d(-50%, -50%, 0px); position: absolute; max-width: 510px; left: 50%; top: 50%; }
#about-box img { width: 150px; height: 150px; border-radius: 100%; margin-right: 40px; box-shadow: -2px 2px rgba(0, 0, 0, 0.3); }
.about-user { display: flex; align-items: center; }
#output pre { font-family: "Source Code Pro",Menlo,Consolas,Monaco,monospace; font-size: 13px; }
#output.static pre { width: 100%; padding: 15px; white-space: pre-wrap; line-height: 1.35; -moz-tab-size: 2; }
#output.static pre code { font-family: "Source Code Pro",Menlo,Consolas,Monaco,monospace; }
#output pre, #output iframe { height: 100%; overflow: auto; }
body #output pre, body #output iframe {  }
.code-box { position: relative; }
#html-box, #css-box, #js-box, #result-box { display: none; }
#html-box.active, #css-box.active, #js-box.active, #result-box.active { display: block; height: 100%; }
#result-box iframe { width: 100%; height: 100%; border: medium none; background: white none repeat scroll 0% 0%; overflow: auto; }
body #result-box iframe {  }
.action-button { font-family: "Lato","Lucida Grande","Lucida Sans Unicode",Tahoma,sans-serif; transition: color 300ms ease 0s, background-color 300ms ease 0s, opacity 300ms ease 0s; text-transform: uppercase; text-decoration: none; position: absolute; background-color: rgb(255, 255, 255); display: block; opacity: 0; z-index: 2; right: 15px; bottom: 15px; color: rgb(0, 0, 0); font-size: 10px; letter-spacing: 1px; padding: 10px; border-radius: 3px; }
#result-box:hover .action-button, .code-box:hover .action-button { opacity: 1; }
#result-box:hover .action-button:hover, #result-box:hover .action-button:active, .code-box:hover .action-button:hover, .code-box:hover .action-button:active { opacity: 0.9; }
.embed-nav { background: rgb(51, 51, 52) none repeat scroll 0% 0%; }
.embed-nav ul a, .action-button { color: rgb(228, 227, 229); background-color: rgb(110, 110, 111); }
.embed-nav ul a.active { background: rgb(29, 29, 29) none repeat scroll 0% 0%; color: rgb(255, 255, 255); box-shadow: 0px 3px rgb(222, 175, 3) inset; }
.embed-nav .logo-wrap a { color: rgb(214, 214, 214); }
.embed-nav .cp-embed-logo, .embed-nav #icon-codepen-box { fill: rgb(214, 214, 214) ! important; }
/* ::::: https://production-assets.codepen.io/assets/editor/themes/twilight-d9333257f5511ea77139b2dc91a98b36c72820be683e8ff9ad8fad3f6bf47df3.css ::::: */

.cm-keyword { color: rgb(221, 202, 126); }
.cm-atom { color: rgb(221, 202, 126); }
.cm-number { color: rgb(208, 120, 42); }
.cm-def { color: rgb(128, 155, 189); }
.cm-variable { color: rgb(221, 202, 126); }
.cm-property { color: rgb(154, 130, 151); }
.cm-operator { color: rgb(204, 204, 204); }
.cm-comment { color: rgb(102, 102, 102); }
.cm-string { color: rgb(150, 179, 138); }
.cm-tag { color: rgb(167, 146, 90); }
.cm-attribute { color: rgb(221, 202, 126); }
.cm-qualifier { color: rgb(221, 202, 126); }
.cm-builtin { color: rgb(221, 202, 126); }
.box, .editor .top-boxes, .CodeMirror-gutter-wrapper, body.project .editor-pane, body.project .editor { background: rgb(29, 31, 32) none repeat scroll 0% 0%; }
.box pre, .editor .top-boxes pre, .CodeMirror-gutter-wrapper pre, body.project .editor-pane pre, body.project .editor pre { color: white; }
