svg {
    &.chart {
        stroke-width: 5px;
        stroke: #8956ff;
        fill: rgba(137, 86, 255, 0.3);

        line {
            stroke-width: 3px;
        }

        circle {
            r: 4px;
            stroke-width: 3px;
            stroke: #7336ff;
            fill: rgba(255, 86, 213, 0.3);
        }

        rect {
            stroke: transparent;
            fill: transparent;
        }
    }
}
