body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/groovepaper.png");
}

article {
  background: none;
}

article ul {
  list-style-type: none;
  padding: 0;
}

article li {
  display: block;
  margin: 0 10px;
}

article a {
  color: #42b983;
}

.content {
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

/* An chi so */
.content h3:before {
  display: none;
}

.content p {
  text-align: justify;
  line-height: 32px;
}

.content img {
  display: inline-block;
  margin: 10px 5px;
}

.content dd {
  margin-left: 20px;
  color: green;
  text-align: left;
}
