.datatable-wrapper {
    position: relative;

    .datatable {
        [data-sort-column] {
            cursor: pointer;
            position: relative;
            padding-right: 30px;

            &:hover {
                //color: blue;
            }

            &:before,
            &:after {
                position: absolute;
                bottom: .3em;
                display: block;
                opacity: .3;
            }

            &:before {
                right: 1em;
                content: "\2191";

                // Thêm các thuộc tính này để xử lý xung đột với fixed-table
                border-right: none;
                top: unset;
            }
            
            &:after {
                right: .5em;
                content: "\2193";

                // Thêm các thuộc tính này để xử lý xung đột với fixed-table
                border-bottom: none;
                left: unset;
            }

            &.sorting_asc:before,
            &.sorting_desc:after {
                opacity: 1;
            }
        }
    }

    .loader {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.5);

        svg path,
        svg rect {
            fill: #FF6700;
        }
    }
}

.datatable-column-list {
    label {
        margin-left: 10px;
    }
}
