$desktop: "(min-width: 992px)";

body {
	// background: url("https://www.toptal.com/designers/subtlepatterns/patterns/groovepaper.png");
}

:root {
    --window-height: 100vh;
}

  
.playlist {
	margin-top: 80px;
	// Audio
	height: calc(var(--window-height) - 80px - 100px);
	// Video
	// height: calc( - 500px);

	@media #{$desktop} {
		margin-top: 0px;
		height: calc(var(--window-height) - 90px);
	}

	.chapter-item {
		@media #{$desktop} {
			&::before {
                content: '+';
				color: green;
				margin-right: 0.5rem;
            }
		}
	}
}

.top-panel {
	box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
	position: fixed;
	border-bottom: 1px solid #dee2e6;

	@media #{$desktop} {
		box-shadow: none;
		position: static;
		border-bottom: none;
	}
}

.bottom-panel {
	box-shadow: 0 -0.125rem 0.25rem rgba(0,0,0,0.075);
	position: fixed;
	border-top: 1px solid #dee2e6;

    @media #{$desktop} {
		box-shadow: none;
		position: static;
		border-top: none;
	}
}

.content {
	max-height: calc(var(--window-height) - 170px);
	padding-right: 1rem;

	h3 {
		&::before {
			display: none;
		}
	}

	img {
		display: inline-block;
		margin: 10px 5px;
	}

	dd {
		margin-left: 20px;
		color: green;
		text-align: left;
	}
}
