.frame img {
    max-width: none;
}

.frame img.first {
    width: 200%;
    margin-left: 0;

    width: 180%;
    margin-left: 0;
}

.frame img.second {
    width: 200%;
    margin-left: -100%;

    width: 180%;
    margin-left: -80%;
}

.frame img.single {
    max-width: 100%;
}
