// Ẩn caret
.no-caret-right-down::after {
    display: none;
}

.caret-up {
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #FFF; // cùng màu bg-dropdown
    position: absolute;
}
