.icon {
    width: 1rem;
    height: auto;
    vertical-align: baseline;
}

.icon-0\.5 {
    width: 0.5rem;
}

.icon-2x {
    width: 2rem;
}

.icon-md-2x {
	@include media-breakpoint-up(md) {
		width: 2rem;
	}
}
