.mw-none {
    max-width: none;
}

.mh-none {
    max-height: none;
}

.min-h-100 {
    min-height: 100%;
}

.w-90 {
    width: 90%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.w-15 {
    width: 15%;
}

.w-10 {
    width: 10%;
}

// Padding nh∆∞ .form-control, .custom-control
.p-0\.75 {
    padding: 0.75rem;
}

.pl-0\.75 {
    padding-left: 0.75rem;
}

.pr-0\.75 {
    padding-right: 0.75rem;
}

.pt-0\.75 {
    padding-top: 0.75rem;
}

.pb-0\.75 {
    padding-bottom: 0.75rem;
}
