body { width: 450px; min-height: 400px; }

.cursor-pointer { cursor: pointer; }

.list-table .cookie:hover { background-color: #EEE; }
.list-table .cookie .facebook-avatar { width: 32px; height: 32px; object-fit: cover; }
.list-table .cookie .icon { width: 1em; height: auto; }
