

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Nunito Sans';
    color: hsl(200, 15%, 8%);
}

.color-1 {
    color: hsl(200, 15%, 8%);
}

.color-dark-blue {
    color: hsl(209, 23%, 22%);
}

.color-very-dark-blue {
    color: hsl(207, 26%, 17%);
    color: hsl(200, 15%, 8%);
}

.color-dark-gray {
    color: hsl(0, 0%, 52%);
}

.color-very-light-gray {
    color: hsl(0, 0%, 98%);
}

.color-white {
    color: hsl(0, 0%, 100%);
}

#searchInput {
    padding-left: 40px;
    width: 300px;
    height: 50px;
    box-shadow: 0px 1px 40px 1px rgba(0, 0, 0, 0.1);
}

.fas.fa-search {
    top: 20px;
    left: 12px;
    color: hsl(0, 0%, 52%);
}

select {
    width: 200px;
    height: 50px;
    box-shadow: 0px 1px 40px 1px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
}

.card {
    width: 280px;
    height: 400px;
    box-shadow: 0px 1px 40px 1px rgba(0, 0, 0, 0.1);
    color: hsl(0, 0%, 52%);
}

.card > img {
    width: 280px;
    height: 180px;
    
}

.card .country-name {
    color: hsl(200, 15%, 8%);
}

.card strong {
    color: hsl(200, 15%, 8%);
}


#backButton {
    width: 160px;
    height: 44px;
    box-shadow: 0px 2px 8px -6px rgba(0, 0, 0, 0.75);
    font-size: 14px;
    color: hsl(200, 15%, 8%);
    margin-left: 20px;
    margin-top: 20px;
}

#backButton i {
    margin-right: 20px;
}

#detailScreen img {
    width: 335px;
}

@media only screen and (min-width: 768px) {    
    #detailScreen img {
        width: 40vw;
    }
}

.color-1 {
    color: hsl(200, 15%, 8%);
}

#borderInfo > li > a {
    box-shadow: 0px 2px 8px -6px rgba(0, 0, 0, 0.75);
}


