.stroke {
  margin: 0;
  font: 400 4.5em/1 'Alfa Slab One', serif;
  
  svg {
    display: block;
  }
  
  text {
    fill: none;
    stroke: currentcolor;
    stroke-width: 4;
  }
}

html {
  margin: 0.75em;
  color: #544a4c;;
  font: 400 1em/1.5 'Open Sans', sans-serif;
}

h1 {
  margin: 0 0 0.5em;
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
}

p {
  margin: 1.5em 0;
}