.viewer img {
    max-width: none;
}

.viewer img.first {
    width: 180%;
    margin-left: 0;
}

.viewer img.second {
    width: 180%;
    margin-left: -80%;
}

.viewer img.single {
    max-width: 100%;
}
