.demoHeader {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #555555;
}

.container {
    display: flex;
}

.codecontainer {
    width: 50%;
}

.codecontainer .radio {
    line-height: 2;
}

.resultcontainer {
    width: 50%;
}

#resultDiv {
    background-color: yellow;
    width: 200px;
    height: 100px;
    margin: 50px;
    box-shadow: none;
}
