.menu input[type=text] { display: block; margin-bottom: 5px; }
.menu input[type=text]:not(:placeholder-shown) + .results .list { display: block; }
.menu input[type=text]:not(:placeholder-shown) + .results .tile { display: none; }
.menu .results > div { padding: 5px; }
.menu .results .tile { display: block; background-color: yellow; }
.menu .results .list { display: none; background-color: green; color: white; transition: 0; }
