/* Visible image map container */
#m-east {
	position: relative; width: 500px; height: 364px;
	background: #5ae url(middle-east.png) no-repeat;
	margin: 2em auto; padding: 0;
}
/* List styling */
#m-east li { display: block; position: absolute; list-style: none; margin: 0; padding: 0; }
/* Link styling */
#m-east a { display: block; text-indent: -9999px; text-decoration: none; outline: none; cursor: default; }
/* Country position on the image (z-index goes here) */
#chd { left:   0px; top: 243px; z-index: 10; }
#cyp { left: 312px; top:  28px; }
#egy { left: 148px; top:  92px; }
#gre { left: 180px; top:   0px; }
#irq { left: 424px; top:   0px; z-index: 10; }
#isr { left: 340px; top:  82px; z-index: 30; }
#jor { left: 350px; top:  86px; z-index: 20; }
#leb { left: 357px; top:  54px;}
#lib { left:   0px; top:  59px;}
#sau { left: 345px; top: 106px;}
#sin { left: 307px; top: 118px;}
#sud { left: 118px; top: 288px;}
#syr { left: 370px; top:   0px;}
#tur { left: 261px; top:   0px;}
/* Country width & height */
#chd a {width: 121px; height: 121px;}
#cyp a {width: 39px; height: 21px;}
#egy a {width: 212px; height: 223px;}
#gre a {width: 65px; height: 27px;}
#irq a {width: 76px; height: 149px;}
#isr a {width: 29px; height: 77px;}
#jor a {width: 78px; height: 81px;}
#leb a {width: 26px; height: 31px;}
#lib a {width: 175px; height: 272px;}
#sau a {width: 155px; height: 258px;}
#sin a {width: 41px; height: 75px;}
#sud a {width: 264px; height: 76px;}
#syr a {width: 123px; height: 103px;}
#tur a {width: 198px; height: 29px;}
/* Country hover image position */
#chd a:hover {background: url(middle-east.png) -175px -467px no-repeat;}
#cyp a:hover {background: url(middle-east.png) -296px -516px no-repeat; }
#egy a:hover {background: url(middle-east.png) -264px -622px no-repeat;}
#gre a:hover {background: url(middle-east.png) -78px -636px no-repeat;}
#irq a:hover {background: url(middle-east.png) -175px -588px no-repeat;}
#isr a:hover {background: url(middle-east.png) -298px -439px no-repeat;}
#jor a:hover {background: url(middle-east.png) -0px -636px no-repeat;}
#leb a:hover {background: url(middle-east.png) -296px -537px no-repeat;}
/* Adding opacity to an image (libya only) */
#lib a:hover {background: url(middle-east.png) -0px -364px no-repeat;
opacity: 0.6; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: alpha(opacity=60); -moz-opacity: 0.60; -khtml-opacity: 0.6;}

#sau a:hover {background: url(middle-east.png) -339px -364px no-repeat;}
#sin a:hover {background: url(middle-east.png) -298px -364px no-repeat;}
#sud a:hover {background: url(middle-east.png) -0px -766px no-repeat;}
#syr a:hover {background: url(middle-east.png) -175px -364px no-repeat;}
#tur a:hover {background: url(middle-east.png) -0px -737px no-repeat;}
