/* ::::: https://google-code-prettify.googlecode.com/svn/loader/prettify.css ::::: */

@media screen {
}
/* ::::: http://www.cssplay.co.uk/lato-font/stylesheet.css ::::: */

@font-face {
	font-family: "latoblack";
	font-style: normal;
	font-weight: normal;
	src: url('lato-black-webfont.eot') format("embedded-opentype"), url('lato-black-webfont.woff2') format("woff2"), url('lato-black-webfont.woff') format("woff"), url('lato-black-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "latobold";
	font-style: normal;
	font-weight: normal;
	src: url('lato-bold-webfont.eot') format("embedded-opentype"), url('lato-bold-webfont.woff2') format("woff2"), url('lato-bold-webfont.woff') format("woff"), url('lato-bold-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "latolight";
	font-style: normal;
	font-weight: normal;
	src: url('lato-light-webfont.eot') format("embedded-opentype"), url('lato-light-webfont.woff2') format("woff2"), url('lato-light-webfont.woff') format("woff"), url('lato-light-webfont.ttf') format("truetype");
}
@font-face {
	font-family: "latomedium";
	font-style: normal;
	font-weight: normal;
	src: url('lato-medium-webfont.eot') format("embedded-opentype"), url('lato-medium-webfont.woff2') format("woff2"), url('lato-medium-webfont.woff') format("woff"), url('lato-medium-webfont.ttf') format("truetype");
}
/* ::::: http://www.cssplay.co.uk/stylesheets/main.css ::::: */

html, body { font-size: 100%; padding: 0px; margin: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; min-width: 320px; }
#wrapper { text-align: center; }
header { height: 80px; position: absolute; width: 100%; top: 0px; left: 0px; background: rgb(50, 156, 210) none repeat scroll 0% 0%; z-index: 100002; text-align: center; backface-visibility: hidden; }
.demos header { background: rgb(226, 59, 45) none repeat scroll 0% 0%; }
header img { display: block; position: absolute; left: 0px; top: 0px; }
header h1 { padding: 15px 0px 0px; margin: 0px; font: 28px/30px "latolight",arial,sans-serif; color: rgb(255, 255, 255); }
header h1 span { display: inline-block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(204, 0, 0); width: 28px; text-align: center; margin: 0px 2px; font: 28px/30px "latoblack",arial,sans-serif; }
.demos header h1 span { color: rgb(226, 59, 45); }
header p { padding: 0px; margin: 0px; font: 15px/20px "latomedium",arial,sans-serif; color: rgb(255, 255, 255); text-transform: uppercase; }
#tutorial { padding-top: 160px; padding-bottom: 30px; }
#info { max-width: 750px; padding: 0px 10px 20px; display: inline-block; vertical-align: top; text-align: left; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#info {  }
#info h2 { padding: 0px; margin: 0px; font: 26px/35px "latobold",arial,sans-serif; color: rgb(0, 0, 0); }
#info h2 a { color: rgb(204, 0, 0); text-decoration: none; }
.demos #info h2 a { color: rgb(226, 59, 45); }
#info h3 { padding: 0px; margin: 20px 0px 0px; font: 22px/30px "latomedium",arial,sans-serif; color: rgb(0, 0, 0); }
#info h3.information { color: rgb(0, 102, 153); }
#info h3.copyright { color: rgb(51, 119, 85); }
#info h3.tandc { color: rgb(204, 102, 102); }
#info h4 { padding: 0px; margin: 0px; font: 20px/25px "latolight",arial,sans-serif; color: rgb(0, 0, 0); }
#info h5 { padding: 0px; margin: 0px; font: 16px/20px "latolight",arial,sans-serif; color: rgb(0, 0, 0); }
#info h5.date { color: rgb(0, 102, 153); }
#info p { padding: 5px 0px; margin: 0px; font: 16px/20px "latomedium",arial,sans-serif; color: rgb(51, 51, 51); }
#rightCol { width: 300px; display: inline-block; vertical-align: top; text-align: left; margin-left: 10px; padding: 10px 10px 0px; border-radius: 0px 0px 8px 8px; border: 1px solid rgb(221, 221, 221); background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
#rightCol {  }
#rightCol h3 { margin: 0px -40px 10px; font: 22px/25px "latolight",arial,sans-serif; color: rgb(255, 255, 255); background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%; padding: 10px; border-radius: 5px 5px 0px 0px; }
#rightCol h3 span { display: inline-block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); width: 23px; text-align: center; margin: 0px 2px; font: 22px/25px "latoblack",arial,sans-serif; }
#rightCol p { padding: 5px 0px; margin: 0px; font: 15px/18px "latomedium",arial,sans-serif; color: rgb(51, 51, 51); }
#rightCol .box300 { width: 220px; padding: 0px 40px 20px; margin: 10px 0px; text-align: justify; border-radius: 5px; display: inline-block; }
#rightCol .box300.col1 { background: rgb(124, 180, 71) none repeat scroll 0% 0%; }
#rightCol .box300.col3 { background: rgb(186, 187, 191) none repeat scroll 0% 0%; }
#rightCol .box300.col4 { background: rgb(158, 107, 169) none repeat scroll 0% 0%; }
#rightCol .box300.col5 { background: rgb(50, 156, 210) none repeat scroll 0% 0%; }
#rightCol .box300 {  }
.box300 ul { padding: 0px; margin: 0px; list-style: outside none none; }
.box300 ul li a { padding: 0px; margin: 0px; font: 14px/25px "latomedium",arial,sans-serif; color: rgb(0, 0, 0); text-decoration: none; }
#rightCol .box300.col5 ul li a, #rightCol .box300.col5 ul li a:visited { color: rgb(255, 255, 255); }
.footer { text-align: center; }
.footer p { padding: 5px 0px; margin: 0px; font: 13px/20px "latomedium",arial,sans-serif; color: rgb(51, 51, 51); }
ul.main { padding: 0px; margin: 0px; list-style: outside none none; position: absolute; top: 80px; left: 0px; width: 100%; min-height: 30px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; text-align: center; z-index: 100002; box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3); backface-visibility: hidden; }
ul.main li { display: inline-block; }
ul.main li {  }
ul.main li a { display: block; font: 15px/26px "latomedium",arial,sans-serif; color: rgb(255, 255, 255); text-decoration: none; padding: 0px 6px; border-bottom: 4px solid rgb(0, 0, 0); }
.demos ul.main li#demos a { border-color: rgb(226, 59, 45); }
ul.main li a:hover { border-color: rgb(136, 136, 136); }
ul.sub { padding: 0px; margin: 0px 0px 30px; list-style: outside none none; width: 100%; min-height: 30px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; text-align: center; }
ul.sub li { display: inline-block; }
ul.sub li {  }
ul.sub li a { font: 14px/30px "latomedium",arial,sans-serif; color: rgb(255, 255, 255); text-decoration: none; padding: 0px 8px; }
#cse-search-box input.search { padding: 10px; height: 19px; border: 0px none; border-radius: 5px 0px 0px 5px; width: 150px; float: left; font: 15px/18px "latomedium",arial,sans-serif; }
.cse-branding-right { text-align: center; }
.box300 form { padding: 0px; margin: 0px; }
.cse-search { width: 50px; height: 39px; border: 0px none; background: rgb(156, 185, 40) url('search-icon.png') no-repeat scroll center center; border-radius: 0px 5px 5px 0px; float: left; cursor: pointer; }
.cse-search:hover { background-color: rgb(204, 0, 0); }
.cse-branding-logo { clear: left; padding-top: 10px; }
.demoNav { height: 40px; margin: 20px auto; text-align: center; }
.prevDemo { font: 16px/40px "latomedium",arial,sans-serif; color: rgb(204, 0, 0); text-decoration: none; display: inline-block; padding: 0px 0px 0px 20px; width: 120px; text-align: left; background: transparent url('previous.gif') no-repeat scroll left center; }
.prevDemo {  }
.nextDemo { font: 16px/40px "latomedium",arial,sans-serif; color: rgb(204, 0, 0); text-decoration: none; display: inline-block; padding: 0px 20px 0px 0px; width: 120px; text-align: right; background: transparent url('next.gif') no-repeat scroll right center; }
.nextDemo {  }
#info h3.smartphone { padding: 0px; margin: 30px 0px; font: 20px/25px "latoblack",arial,sans-serif; color: rgb(204, 0, 0); display: none; }
.numberlist li { padding: 2px 0px; margin: 0px; font: 15px/18px "latomedium",arial,sans-serif; color: rgb(51, 51, 51); }
.adslot_1 { display: block; width: 728px; height: 90px; margin: 0px; }
@media only screen and (min-width: 320px) {
	.adslot_1 { width: 300px; height: 250px; margin: 0px auto; }
}
@media only screen and (min-width: 480px) {
	.adslot_1 { width: 468px; height: 60px; margin: 0px auto; }
}
@media only screen and (min-width: 760px) {
	.adslot_1 { width: 728px; height: 90px; margin: 0px; }
}
@media only screen and (max-width: 1150px) {
	#rightCol { width: 90%; margin: 0px auto; text-align: center; }
	#rightCol .boxTop { display: inline-block; vertical-align: top; margin: 1%; }
	#rightCol .box300 { vertical-align: top; margin: 1%; min-height: 220px; }
}
@media only screen and (max-width: 480px) {
	header { position: absolute; }
	ul.main { position: absolute; }
	span.break { display: block; }
	#rightCol { width: 100%; margin: 0px; text-align: center; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 0px; border: 0px none; }
	#rightCol .boxTop { display: inline-block; vertical-align: top; margin: 10px auto; }
	#rightCol .box300 { vertical-align: top; margin: 10px auto; min-height: 0px; }
}
@media only screen and (max-width: 320px) {
}
/* ::::: http://fonts.googleapis.com/css?family=Oswald:400,300,700 ::::: */

@font-face {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 300;
	src: local("Oswald Light"), local("Oswald-Light"), url('l1coq90roy9yc7voehngdbjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 300;
	src: local("Oswald Light"), local("Oswald-Light"), url('hqhm7bvc_nzztui2lzqtdvtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 400;
	src: local("Oswald Regular"), local("Oswald-Regular"), url('yg0glppxxuisnkuejcx4qfeszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 400;
	src: local("Oswald Regular"), local("Oswald-Regular"), url('peobiv_ll25tkbpqvi_a2w.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 700;
	src: local("Oswald Bold"), local("Oswald-Bold"), url('di-qzxlkvqa6tuc5rksb3xjtnkitppoi_ivcxxdnrsc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 700;
	src: local("Oswald Bold"), local("Oswald-Bold"), url('bh7276gfdcjmjapa_dkg6vtxra8tvwticgirnjhmvjw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.imagewrap { display: block; position: relative; width: 750px; height: 600px; margin: 40px auto; z-index: 100; }
.backer { display: block; width: 750px; height: 600px; background: transparent url('animaldefault.png') repeat scroll 0% 0%; position: absolute; left: 0px; top: 0px; z-index: -1; }
.backer::after { display: block; width: 250px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); position: absolute; left: 280px; top: 50px; padding: 15px; font: 14px/18px "latomedium",arial,sans-serif; color: rgb(0, 0, 0); }
.imageMap { border: 0px none; display: block; position: absolute; left: 0px; top: 0px; z-index: 100; }
#animalmap { display: block; position: relative; }
area { display: block; }
area:hover ~ span::before { display: block; width: 750px; height: 600px; position: absolute; left: 0px; top: 0px; }
area:nth-of-type(1):hover ~ span::before { content: url('monkeypanel.png'); }
area:nth-of-type(2):hover ~ span::before { content: url('vulturepanel.png'); }
area:nth-of-type(3):hover ~ span::before { content: url('tigerpanel.png'); }
area:nth-of-type(4):hover ~ span::before { content: url('snakepanel.png'); }
area:nth-of-type(5):hover ~ span::before { content: url('zebrapanel.png'); }
area:nth-of-type(6):hover ~ span::before { content: url('ostrichpanel.png'); }
area:nth-of-type(7):hover ~ span::before { content: url('ostrichpanel.png'); }
area:nth-of-type(1):hover ~ span::after { content: "Monkeys are generally considered to be intelligent. Unlike apes, monkeys usually have tails."; }
area:nth-of-type(2):hover ~ span::after { content: "A particular characteristic of many vultures is a bald head, devoid of normal feathers."; }
area:nth-of-type(3):hover ~ span::after { content: "Tigers are among the most recognisable and popular of the world\'s charismatic megafauna. They have featured prominently in ancient mythology and folklore."; }
area:nth-of-type(4):hover ~ span::after { content: "Snakes are elongate, legless, carnivorous reptiles of the suborder Serpentes that can be distinguished from legless lizards by their lack of eyelids and external ears."; }
area:nth-of-type(5):hover ~ span::after { content: "Zebras are several species of African equids (horse family) united by their distinctive black and white stripes. Their stripes come in different patterns, unique to each individual."; }
area:nth-of-type(6):hover ~ span::after { content: "The ostrich is farmed around the world, particularly for its feathers, which are decorative and are also used as feather dusters."; }
area:nth-of-type(7):hover ~ span::after { content: "The ostrich is farmed around the world, particularly for its feathers, which are decorative and are also used as feather dusters."; }
@media not all, not all {
	.backer { display: block; width: 750px; height: 600px; background: transparent url('ie.jpg') repeat scroll 0% 0%; position: absolute; left: 0px; top: 0px; z-index: -1; }
}
@media only screen and (max-width: 480px) {
	.imagewrap { display: none; }
	#info h3.smartphone { display: block; }
}
