html { height: 100vh; background: linear-gradient(silver 2px, transparent 2px) repeat scroll 0px calc(50vh - 1px), transparent linear-gradient(90deg, silver 2px, transparent 2px) repeat scroll calc(50vw - 1px) 0px; }
body { display: flex; justify-content: center; margin: 0px; height: 100vh; }
svg { align-self: center; width: 12.5em; height: 12.5em; }
[id="loader"] use:nth-child(1) { fill: rgb(30, 63, 87); }
[id="loader"] use:nth-child(2) { fill: rgb(38, 74, 99); }
[id="loader"] use:nth-child(3) { fill: rgb(45, 86, 111); }
[id="loader"] use:nth-child(4) { fill: rgb(53, 97, 122); }
[id="loader"] use:nth-child(5) { fill: rgb(61, 109, 134); }
[id="loader"] use:nth-child(6) { fill: rgb(68, 120, 146); }
[id="loader"] use:nth-child(7) { fill: rgb(76, 132, 158); }
[id="loader"] use:nth-child(8) { fill: rgb(84, 143, 169); }
[id="loader"] use:nth-child(9) { fill: rgb(91, 155, 181); }
[id="loader"] use:nth-child(10) { fill: rgb(99, 166, 193); }
