.media-container {
	position: relative;

	video {
		width: 100%;
		height: auto;
	}

	.media-player {
		background-color: transparent;
		
		// Phụ đề
		.subtitle-wrapper {
			// Cho lên giữa
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 5;

			.subtitle {
				max-width: 40%;
				color: #FFF;
				font-size: 1.5rem;
				text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
				// text-shadow: 0 0 3px rgba(255, 255, 255, 1);
			}
		}

		// Karaoke
		.karaoke-wrapper {
			height: 40px;
			padding: 0 0.25rem;
			overflow: hidden;

			// Syntax improvements in Level 4
			// @media (width >= 768px) {
			@media (min-width: 768px) {
				font-size: 1.25rem;
			}

			.base, .karaoke {
				white-space: nowrap;
				line-height: 40px;
			}

			.base {
				color: #090;
				color: #2E9AFE;
				color: #387ef5;
				color: #0c60ee;
			}

			.karaoke {
				position: absolute;
				left: 0;
				top: 0;
				color: #d269ff;
				color: #FF1493;
				overflow: hidden;
			}
		}

		// Tranh điều khiển
		.player-controls {
			display: flex;
			align-items: center;
			width: 100%;
			background: transparent;
			color: #4E4E50;
			

			// Thời gian
			.time-info {
				padding: 0 5px;
				font-size: 0.8125rem;
				text-align: right;
			}

			// Thanh trạng thái
			.timeline {
				flex: 1;
				cursor: pointer;
				background: #e6e6e6;
				border-radius: 4px;
				position: relative;
				margin-left: 1rem;
				margin-right: 1rem;

				.bar-process {
					background-color: #007aff;
					height: 4px;
					border-radius: 4px 0 0 4px;
					// width: 0px;
				}

				.play-head {
					display: none;
					position: absolute;
					top: -7px;
					// left: 0px;
					width: 18px;
					height: 18px;
					border-radius: 50%;
					background-color: #02c38a;
					box-shadow: 0 1px 2px 0 rgba(34,36,38,.15), 0 0 0 1px rgba(34,36,38,.15) inset;
				}
			}
		}
	}

	// Khi fullscreen thì điều chỉnh thanh điều khiển xuống dưới
	&:fullscreen {
		// Căn giữa video
		video {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1;
		}

		.player-controls {
			color: #FFF;
			position: absolute;
			bottom: 0.5rem;
			padding: 0 0.5rem;
			width: 100%;
			z-index: 10;
		}
	}
}
