ul {
    overflow: hidden;
    *zoom: 1;
    margin: 1em 0;
    text-align: left;
    padding: 0;

    li {
        box-sizing: border-box;

        a {
            display: block;
            padding: 1em;
            color: #333333;

            &:hover,
            &:focus {
                color: #333333;
                background: #ecf7fa;
                text-decoration: none;
            }
        }

        .command {
            white-space: nowrap;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            font-family: "Monaco", "Menlo", monospace;
            display: block;
            margin: 0 0 2px 0;
            color: #0066aa;

            .args {
                color: #555555;
            }
        }

        .summary {
            display: block;
            font-size: 0.8em;
            line-height: 1.5em;
        }
    }
}

nav {
    label {
        margin: 0 10px;

        span {
            display: none;
        }
    }

    select,
    input {
        border: 1px solid #bbbbbb;
        font-size: 14px;
        margin: 0 5px;
    }

    input {
        border-radius: 5px;
        padding: 5px 5px 6px 5px;
        width: 100px;

        &:focus {
            outline: none;
        }
    }

    select {
        height: 32px;
    }
}

@media only screen and (min-width: 992px) {
    .command {
        font-size: 0.9em;

        .args {
            font-size: 0.8em;
        }
    }

    nav {
        label {
            margin: 0 10px 0 0;

            span {
                display: inline;
            }
        }

        input {
            width: 200px;
        }
    }

    ul {
        li {
            float: left;
            margin: 1em 1.5%;
            overflow: hidden;
            width: 30%;

            a {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                border-radius: 5px;
                background-color: #fafafa;
                height: 6em;
            }
        }
    }
}
