.upload-file-preview {
    width: 8rem;
    height: 8rem;
}

.upload-file-preview .upload-button {
    top: 80%;
    right: 0;
    color: #666666;
    transition: color .3s;
}

.upload-file-preview:hover .upload-button {
    color: #999;
}
