.rating-star {
    &.rating-star-checked {
        // Giống .text-orange
        color: #E06950;
    }

    &.can-update {
        cursor: pointer;

        &:hover {
            &,
            & ~ .rating-star {
                // Giống .btn-primary
                color: #007bff;
            }
        }
    }
}
