.file-icon {
    padding-left: 24px;
    background-size: 16px 16px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url("../images/file types/text.ico");

    &.file-icon-folder {
        background-image: url("../images/file types/folder blender.png");
    }

    &[href$='.zip'],
    &[href$='.rar'],
    &[href$='.cbz'],
    &[href$='.cbr'] {
        background-image: url("../images/file types/archive.ico");
    }
    
    &[href$='.py'] {
        background-image: url("../images/file types/folder blender.png");
    }
    
    &[href$='.php'] {
        background-image: url("../images/file types/folder blender.png");
    }
    
    &[href$='.js'] {
        background-image: url("../images/file types/folder blender.png");
    }
    
    &[href$='.pdf'] {
        background-image: url("../images/file types/pdf.ico");
    }
}
