.file-icon {
    &::before {
        margin-right: 1rem;
        width: 2.5rem;
        height: 2.75rem;
        display: inline-block;
        // vertical-align: -5px;
        content: "";
        background-size: 2.5rem 2.5rem;
        background-color: transparent;
        background-repeat: no-repeat;
        // background-position: center left;
        background-position-y: 0.25rem;
        background-image: url("../images/file types/default_file.svg");
    }

    &.file-icon-folder {
        &::before {
            background-image: url("../images/file types/default_folder.svg");
        }
    }

    &[href$='.zip'] {
        &::before {
            background-image: url("../images/file types/file_type_zip.svg");
        }
    }
    
    &[href$='.tar'] {
        &::before {
            background-image: url("../images/file types/tar.ico");
        }
    }

    &[href$='.rar'] {
        &::before {
            background-image: url("../images/file types/rar.ico");
        }
    }

    &[href$='.cbz'],
    &[href$='.cbr'] {
        &::before {
            background-image: url("../images/file types/honeyview.jfif");
        }
    }
    
    &[href$='.py'] {
        &::before {
            background-image: url("../images/file types/file_type_python.png");
        }
    }
    
    &[href$='.js'] {
        &::before {
            background-image: url("../images/file types/file_type_js.svg");
        }
    }
    
    &[href$='.pdf'] {
        &::before {
            background-image: url("../images/file types/file_type_pdf.svg");
        }
    }

    &[href$='.exe'],
    &[href$='.msi'] {
        &::before {
            background-image: url("../images/file types/file_type_exe.svg");
        }
    }

    &[href$='.bat'],
    &[href$='.sh'] {
        &::before {
            background-image: url("../images/file types/file_type_bat.svg");
        }
    }

    &[href$='.php'],
    &[href$='.phar'] {
        &::before {
            background-image: url("../images/file types/file_type_php.svg");
        }
    }

    &[href$='.xml'] {
        &::before {
            background-image: url("../images/file types/file_type_xml.svg");
        }
    }

    &[href$='.html'],
    &[href$='.htm'] {
        &::before {
            background-image: url("../images/file types/file_type_html.svg");
        }
    }

    &[href$='.ini'],
    &[href$='.env'],
    &[href$='.conf'] {
        &::before {
            background-image: url("../images/file types/file_type_ini.svg");
        }
    }

    &[href$='.txt'] {
        &::before {
            background-image: url("../images/file types/file_type_text.svg");
        }
    }

    &[href$='.xls'],
    &[href$='.xlsx'] {
        &::before {
            background-image: url("../images/file types/file_type_excel.svg");
        }
    }

    &[href$='.doc'],
    &[href$='.docx'] {
        &::before {
            background-image: url("../images/file types/file_type_word.svg");
        }
    }

    &[href$='.ppt'],
    &[href$='.pptx'] {
        &::before {
            background-image: url("../images/file types/file_type_powerpoint.svg");
        }
    }

    &[href$='.sql'] {
        &::before {
            background-image: url("../images/file types/file_type_sql.svg");
        }
    }

    &[href$='.md'] {
        &::before {
            background-image: url("../images/file types/file_type_markdown.svg");
        }
    }

    &[href$='.json'] {
        &::before {
            background-image: url("../images/file types/file_type_json.svg");
        }
    }

    &[href$='.png'],
    &[href$='.jpg'],
    &[href$='.jpeg'],
    &[href$='.gif'],
    &[href$='.webp'] {
        &::before {
            background-image: url("../images/file types/file_type_image.svg");
        }
    }

    &[href$='.mp4'],
    &[href$='.avi'],
    &[href$='.mkv'],
    &[href$='.webm'],
    &[href$='.flv'] {
        &::before {
            background-image: url("../images/file types/file_type_video.svg");
        }
    }

    &[href$='.mp3'],
    &[href$='.wav'],
    &[href$='.wma'],
    &[href$='.ape'],
    &[href$='.flac'] {
        &::before {
            background-image: url("../images/file types/file_type_audio.svg");
        }
    }

    &[href$='.ttf'],
    &[href$='.eot'],
    &[href$='.woff'],
    &[href$='.woff2'] {
        &::before {
            background-image: url("../images/file types/file_type_font.svg");
        }
    }

    &[href$='.svg'] {
        &::before {
            background-image: url("../images/file types/file_type_svg.svg");
        }
    }

    &[href$='.css'] {
        &::before {
            background-image: url("../images/file types/file_type_css.svg");
        }
    }

    &[href$='.scss'] {
        &::before {
            background-image: url("../images/file types/file_type_scss.svg");
        }
    }

    &[href$='.vue'] {
        &::before {
            background-image: url("../images/file types/file_type_vue.svg");
        }
    }

    &[href$='.ts'] {
        &::before {
            background-image: url("../images/file types/file_type_typescript.svg");
        }
    }

    &[href$='.gitignore'] {
        &::before {
            background-image: url("../images/file types/file_type_git.svg");
        }
    }

    &[href$='.yml'] {
        &::before {
            background-image: url("../images/file types/file_type_yaml.svg");
        }
    }

    &[href$='.epub'],
    &[href$='.mobi'],
    &[href$='.prc'] {
        &::before {
            background-image: url("../images/file types/file_type_epub.svg");
        }
    }

    &[href$='.dll'] {
        &::before {
            background-image: url("../images/file types/file_type_dll.svg");
        }
    }
}
