.home-page {
    // Tạo background ở trang web sau: https://getwaves.io/
    // Để ảnh scale theo CSS như ảnh định dạng bình thường thì cần thiết lập preserveAspectRatio="none"
    // https://css-tricks.com/scale-svg/
    // background-image: url(../images/layout/wave.svg);
    background-repeat: no-repeat;
    background-size: 100%;

    .logo {
		width: 11rem;
		height: auto;
	}

	.menu {
        a {
            border-bottom: $pinkColor dashed 1px;
        }
	}

	.links {
        .facebook {
            color: #3C599F;
        }

        .github {
            color: #070709;
        }
    }
    
    .top-wave {
        top: 0;
        left: 0;
        max-height: 20vh;
        z-index: -1;
    }

    .bottom-wave {
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}
