.date-range {
    background: #fff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.range-icon {
    color: rgba(0, 0, 0, 0.5);
}

.range-label {
    display: inline-block;
    margin-left: 10px;
    width: 180px;
}

.clear-range {
    color: #F00;
    font-weight: bold;
}

.simple-date {
    max-width: 150px;
    display: inline-block;
}