.source-file {
    font-weight: 500;
    padding: 0.25rem 1rem 0.25rem 2rem;
    background-color: rgb(106, 215, 229);
    background-image: url(../images/source-file.png);
    background-repeat: no-repeat;
    background-position: 8px center;
}

pre.code-block {
    background: #fff;
    border-left: 2px solid rgb(106, 215, 229);
    padding-left: 1rem;
}

.command {
    /* background-color: #343a40; */ /* .bg-dark */
    /* color: #28a745; */ /* text-success */
}

pre.output {
    background-color: #343a40; /* .bg-dark */
    color: #fff; /* .text-white */
}

.note {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #375eab;
    border-radius: 5px;
    background: #e0ebf5;
}
