/* ::::: https://www.facebook.com/rsrc.php/v3/yn/r/eoPgUyv--Dl.css ::::: */

body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(29, 33, 41); direction: ltr; line-height: 1.34; margin: 0px; padding: 0px; unicode-bidi: embed; }
body, button, input, label, select, td, textarea { font-family: Helvetica,Arial,sans-serif; font-size: 12px; }
a { color: rgb(54, 88, 153); cursor: pointer; text-decoration: none; }
a:hover { text-decoration: underline; }
img { border: 0px none; }
.clearfix::after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; line-height: 0; visibility: hidden; }
.clearfix {  }
.cardRightCol + div ._19ah, div:not(:empty) + ._19ah { margin-top: 10px; }
._li._li._li { overflow: initial; }
.pluginFontHelvetica, .pluginFontHelvetica button, .pluginFontHelvetica input, .pluginFontHelvetica label, .pluginFontHelvetica select, .pluginFontHelvetica td, .pluginFontHelvetica textarea { font-family: Helvetica,Arial,sans-serif; }
body.plugin { background: transparent none repeat scroll 0% 0%; font-family: Helvetica,Arial,sans-serif; line-height: 1.28; overflow: hidden; -moz-text-size-adjust: none; }
.plugin, .plugin button, .plugin input, .plugin label, .plugin select, .plugin td, .plugin textarea { font-size: 11px; }
._42ft { cursor: pointer; display: inline-block; text-decoration: none; white-space: nowrap; }
._42ft::-moz-focus-inner { border: 0px none; padding: 0px; }
.gecko ._42ft:focus { outline: 1px dotted rgb(59, 89, 152); }
._42ft:hover { text-decoration: none; }
i.img {  }
.lfloat { float: left; }
.rfloat { float: right; }
a._p { display: block; }
._4jy0 { border: 1px solid; border-radius: 2px; box-sizing: content-box; font-size: 12px; font-weight: bold; padding: 0px 8px; position: relative; text-align: center; text-shadow: none; vertical-align: middle; }
.gecko ._4jy0 { font-family: Helvetica Neue,Helvetica,Arial,sans-serif; }
._4jy0::before { content: ""; display: inline-block; height: 20px; vertical-align: middle; }
html ._4jy0:focus, html .gecko ._4jy0:focus { box-shadow: 0px 0px 1px 2px rgba(88, 144, 255, 0.75), 0px 1px 1px rgba(0, 0, 0, 0.15); outline: medium none; }
._4jy0 .img { bottom: 1px; position: relative; vertical-align: middle; }
._517h, ._59pe:focus, ._59pe:hover { background-color: rgb(246, 247, 249); border-color: rgb(206, 208, 212); color: rgb(75, 79, 86); }
._517h:hover { background-color: rgb(233, 235, 238); }
._517h:active, ._517h._42fs { background-color: rgb(221, 223, 226); border-color: rgb(190, 194, 201); }
._4jy3, ._4jy3._42fr:active, ._4jy3._42fr._42fs { line-height: 22px; }
._51xa ._4jy1 + .uiPopover > ._4jy1:not(:focus)::after { background-color: rgb(246, 247, 249); bottom: -1px; content: ""; display: block; left: -1px; position: absolute; top: -1px; width: 1px; }
._50f7 { font-weight: bold; }
._42ef { overflow: hidden; }
._8o, ._8o .img { display: block; }
._8r { margin-right: 5px; }
._8s { margin-right: 8px; }
._6a { display: inline-block; }
._6b { vertical-align: middle; }
._ohe { float: left; }
._ohf { float: right; }
._4qba { font-style: normal; }
._3-8y { margin-top: 12px; }
._3-8_ { margin-right: 4px; }
._3-99 { margin-left: 4px; }
._2pi3 { padding-bottom: 8px; padding-top: 8px; }
._2pi8 { padding-left: 8px; padding-right: 8px; }
/* ::::: https://www.facebook.com/rsrc.php/v3/yd/r/7qkvodfsfKk.css ::::: */

._38vo::after { border: 1px solid rgba(0, 0, 0, 0.1); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
.motion ._38vo::after { transition: background-color 200ms cubic-bezier(0.08, 0.52, 0.52, 1) 0s; }
.motion ._38vo:active::after { background-color: rgba(0, 0, 0, 0.1); transition: none 0s ease 0s ; }
._5vb_ ._dcs .__c_::after { border-color: rgba(0, 0, 0, 0.1); }
._5vb_ ._dcs:hover .__c_::after { border-color: rgba(0, 0, 0, 0.15); }
._dcs .__c_::after { border-color: rgba(0, 0, 0, 0.098) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.23); }
._5v3q ._31-z ._4-eo::after { border-width: 0px; }
._5v3q ._4-eo::after { border: 1px solid rgba(0, 0, 0, 0.1); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
._5tmf ._2t9n img, ._5tmf ._2t9n._4-eo, ._5tmf ._2t9n._4-eo::after { border-radius: 5px 5px 0px 0px; }
.motion ._5v3q ._4-eo::after { transition: background-color 200ms cubic-bezier(0.08, 0.52, 0.52, 1) 0s; }
.motion ._5v3q ._4-eo:active::after { background-color: rgba(0, 0, 0, 0.1); transition: none 0s ease 0s ; }
._6l-::after { border: 1px solid rgba(0, 0, 0, 0.1); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
._170x ._6l-::after { border-left: 0px none; border-right: 0px none; }
.newsFeedComposer ._2iwp:not(:first-child) { display: none; }
._2iwq::before { animation-duration: 1s; animation-fill-mode: forwards; animation-iteration-count: infinite; animation-name: placeHolderShimmer; animation-timing-function: linear; background-image: linear-gradient(to right, rgb(246, 247, 249) 0%, rgb(233, 235, 238) 20%, rgb(246, 247, 249) 40%, rgb(246, 247, 249) 100%); background-repeat: no-repeat; background-size: 800px 104px; content: " "; display: block; height: 100%; position: relative; }
#pagelet_group_pager :not(.async_saving) > div > ._2iwq { animation-play-state: paused; }
._30yy:focus:not(:active) { opacity: 0.6; }
._2sdm *::-moz-selection { background-color: rgba(0, 132, 255, 0.2); }
._xcx::after { border: 1px solid rgba(0, 0, 0, 0.1); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
._3y63::after { background-image: url('l-_rrliskz4.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -65px -69px; bottom: 8px; content: ""; display: inline-block; height: 16px; position: absolute; right: 8px; width: 16px; }
.motion ._xcx::after { transition: background-color 200ms cubic-bezier(0.08, 0.52, 0.52, 1) 0s; }
.motion ._xcx:active::after { background-color: rgba(0, 0, 0, 0.1); transition: none 0s ease 0s ; }
._1kj2 ._5t88::-moz-focus-inner { border: 0px none; }
.highContrast .fbPrivacyAudienceIndicator::after { content: attr(aria-label); }
._2wli .uiScrollableArea.contentAfter::after { background: transparent linear-gradient(rgba(255, 255, 255, 0.05), rgb(255, 255, 255)) repeat scroll 0% 0%; border-radius: 0px 0px 3px 3px; height: 12px; }
span._4chl div._392n::before { content: ""; display: inline-block; height: 100%; vertical-align: middle; }
.highContrast ._59c6._5dzz::before { content: url('kcasrmw3hvb.png'); margin: -473px 0px 0px 1px; position: absolute; }
.highContrast ._59c6._5d-3._5dzz::before { content: url('kcasrmw3hvb.png'); margin: -473px 0px 0px 1px; position: absolute; }
.highContrast ._59c6._5dz-::before { content: url('kcasrmw3hvb.png'); margin: -473px 0px 0px 1px; position: absolute; }
.highContrast ._59c6._5dz_::before { content: url('kcasrmw3hvb.png'); margin: -473px 0px 0px 1px; position: absolute; }
.highContrast ._1gop._5dzz::before { content: url('kcasrmw3hvb.png'); margin: -541px 0px 0px; position: absolute; }
.highContrast .uiTypeaheadView .selected ._1gop._5dzz::before { content: url('kcasrmw3hvb.png'); margin: -524px 0px 0px; position: absolute; }
.highContrast ._56_f._5dzz::before, .highContrast .uiTypeaheadView .search.updatedSuggestionRows .selected ._56_f._5dzz::before { content: url('kcasrmw3hvb.png'); margin: -607px 0px 0px; position: absolute; }
.highContrast ._56_f._5d-3._5dzz::before { content: url('kcasrmw3hvb.png'); margin: -233px 0px 0px; position: absolute; }
.highContrast ._56_f._5dz-::before { content: url('kcasrmw3hvb.png'); margin: -623px 0px 0px; position: absolute; }
.highContrast ._56_f._5dz_::before { content: url('kcasrmw3hvb.png'); margin: -508px 0px 0px; position: absolute; }
.highContrast ._56_f._5d-0::before { content: url('kcasrmw3hvb.png'); margin: -130px 0px 0px; position: absolute; }
.highContrast ._56_f._5d-1::before { content: url('kcasrmw3hvb.png'); margin: -194px 0px 0px; position: absolute; }
.highContrast ._56_f._5d-3._5d-1::before { content: url('kcasrmw3hvb.png'); margin: -28px 0px 0px; position: absolute; }
.highContrast ._56_f._3vjg._5dzz::before, .highContrast ._56_f._5d-3._3vjg ._5dzz::before, .highContrast ._56_f._3vjg._5dz-::before, .highContrast ._56_f._3vjg._5dz_::before, .highContrast ._56_f._3vjg._5d-0::before, .highContrast ._56_f._3vjg._5d-1::before, .highContrast ._56_f._5d-3._3vjg ._5d-1::before { content: url('kcasrmw3hvb.png'); margin: -654px 0px 0px 1px; position: absolute; }
.highContrast .uiTypeaheadView .selected ._56_f._5dzz::before { content: url('kcasrmw3hvb.png'); margin: -591px 0px 0px; position: absolute; }
.highContrast .selected ._56_f._5dz_::before { content: url('kcasrmw3hvb.png'); margin: -491px 0px 0px; position: absolute; }
.highContrast ._5n3t._5dzz::before { content: url('kcasrmw3hvb.png'); margin: -669px 0px 0px 1px; position: absolute; }
.highContrast ._5n3t._5d-3._5dzz::before { content: url('kcasrmw3hvb.png'); margin: -405px 0px 0px 1px; position: absolute; }
.highContrast ._5n3t._5dz-::before { content: url('kcasrmw3hvb.png'); margin: -669px 0px 0px -13px; position: absolute; }
.highContrast ._5n3t._5dz_::before { content: url('kcasrmw3hvb.png'); margin: -440px 0px 0px; position: absolute; }
.highContrast ._5n3t._5d-0::before { content: url('kcasrmw3hvb.png'); margin: -152px 0px 0px 1px; position: absolute; }
.highContrast ._5n3t._5d-1::before { content: url('kcasrmw3hvb.png'); margin: -251px 0px 0px 1px; position: absolute; }
.highContrast ._5n3t._5d-3._5d-1::before { content: url('kcasrmw3hvb.png'); margin: -55px 0px 0px 1px; position: absolute; }
.highContrast .uiTypeaheadView .selected ._5n3t._5dzz::before { content: url('kcasrmw3hvb.png'); margin: -638px 0px 0px -13px; position: absolute; }
.highContrast .selected ._5n3t._5dz_::before { content: url('kcasrmw3hvb.png'); margin: -423px 0px 0px; position: absolute; }
._4-h8::after { border-bottom: 8px solid rgb(255, 255, 255); border-left: 8px solid transparent; border-right: 8px solid transparent; content: ""; left: -8px; position: absolute; top: 1px; }
._530o::before { background-image: url('dxmtzjexrzm.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -260px -220px; content: ""; height: 13px; left: 4px; position: absolute; top: 4px; width: 13px; }
._20ou::before { background-image: url('dxmtzjexrzm.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -274px -220px; }
._5v3q ._5pbx .text_exposed_root:not(.text_exposed) > p:last-of-type:not(:first-child)::before { content: ""; display: block; margin-top: 6px; }
._2agf { overflow-wrap: normal; }
._55pe { display: inline-block; overflow: hidden; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; }
._42fu::before { content: ""; display: inline-block; height: 20px; vertical-align: middle; }
._42fu._42fs:not(._42gz):not(._42g-) { color: rgb(64, 128, 255); }
.highContrast .uiSelectorButton::after { content: " ▼"; }
.uiScrollableArea.contentBefore::before, .uiScrollableArea.contentAfter::after { content: ""; display: block; height: 2px; position: absolute; width: 100%; z-index: 99; }
.uiScrollableArea.contentBefore::before { top: 0px; }
.uiScrollableArea.contentAfter::after { bottom: 0px; }
.uiScrollableAreaWithTopShadow.contentBefore::before, .uiScrollableAreaWithShadow.contentAfter::after { background-color: rgba(0, 0, 0, 0.07); }
.highContrast ._569t ._54nd ._54nc::before { content: "✓"; left: 6px; position: absolute; }
._51tl::before { content: ""; display: inline-block; height: 20px; vertical-align: middle; }
._1tp7:not(:focus) { border: 1px solid rgb(250, 62, 62); }
.UFIMentionsInputWrap, .UFICommentContainer, .UFIInputContainer { position: relative; }
.UFICommentAttachmentButtons { bottom: 0px; height: 24px; position: absolute; right: 0px; }
.UFICommentActions .UFIReactionLink.UFIEnlargeLikeLinkHotspot::after { bottom: 0px; content: ""; display: block; left: -6px; position: absolute; right: -6px; top: -4px; }
._3-n5 ._3htz:not(._1jto) { display: none; }
.clearFix::after { clear: both; content: "."; display: block; font-size: 0px; height: 0px; line-height: 0; visibility: hidden; }
._58al::-moz-placeholder, ._58al:-moz-placeholder, ._58an::-moz-placeholder, ._58an:-moz-placeholder { color: rgb(119, 119, 119); }
._1gwo::before, span._47e3::before { clip: rect(1px, 1px, 1px, 1px); content: attr(title); height: 1px; overflow: hidden; position: absolute; white-space: nowrap; width: 1px; }
.sp_JfvwyaYRQ-n { background-image: url('dxmtzjexrzm.png'); background-size: auto auto; background-repeat: no-repeat; display: inline-block; height: 16px; width: 16px; }
.sp_JfvwyaYRQ-n.sx_23d0fb { width: 9px; height: 8px; background-position: -226px -196px; }
/* ::::: https://www.facebook.com/rsrc.php/v3/yd/r/yOhv8HU6voh.css ::::: */

._2sl3:not(:last-child) { border-bottom: 1px solid rgb(221, 223, 226); }
._pbn ._4z8-::before { content: none; }
.sp_Zf93eLkohoS { background-image: url('s3omliaahhx.png'); background-size: auto auto; background-repeat: no-repeat; display: inline-block; height: 12px; width: 12px; }
.sp_Zf93eLkohoS.sx_97c3ab { width: 14px; height: 14px; background-position: -19px -182px; }
/* ::::: https://www.facebook.com/rsrc.php/v3/yM/r/IqZuhnajBF8.css ::::: */

._56q9 { font-size: 14px; line-height: 1.358; overflow-wrap: break-word; }
._2392 { margin-bottom: 24px; }
._4uyl ._1cb { border: 1px solid rgb(211, 214, 219); overflow-wrap: break-word; }
._1zz7 ._5yk2, ._1zz6 ._5yk2 { min-height: 16px; }
._4uyl ._5yk2, ._4uyl ._1u9t { font-size: 14px; padding: 12px 8px; }
._4uyl ._1p1t { color: rgb(169, 169, 169); }
._5lm5 { border-top: 1px solid rgb(233, 235, 238); font-size: 11px; }
._491z { border-bottom: 1px solid rgb(233, 235, 238); line-height: 25px; margin-bottom: 24px; padding: 8px 0px; }
._pup { color: rgb(75, 79, 86); }
._1ci { height: 48px; width: 48px; }
.ie10 ._55sg > input + span::before, .gecko ._55sg > input + span::before { background-image: url('s3omliaahhx.png'); background-repeat: no-repeat; background-size: auto auto; background-position: 0px 0px; content: ""; display: inline-block; height: 16px; margin: 0px 1px; position: relative; top: -1px; vertical-align: middle; width: 16px; }
.ie10 ._55sg > input:active + span::before, .gecko ._55sg > input:active + span::before { background-image: url('s3omliaahhx.png'); background-repeat: no-repeat; background-size: auto auto; background-position: 0px -17px; }
.ie10 ._55sg > input:focus + span::before, .gecko ._55sg > input:focus + span::before { background-image: url('s3omliaahhx.png'); background-repeat: no-repeat; background-size: auto auto; background-position: 0px -34px; }
.ie10 ._55sg > input:disabled + span::before, .gecko ._55sg > input:disabled + span::before { background-image: url('s3omliaahhx.png'); background-repeat: no-repeat; background-size: auto auto; background-position: 0px -51px; }
.ie10 ._55sg > input:checked + span::before, .gecko ._55sg > input:checked + span::before { background-image: url('s3omliaahhx.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -17px 0px; }
.ie10 ._55sg > input:active:checked + span::before, .gecko ._55sg > input:active:checked + span::before { background-image: url('s3omliaahhx.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -17px -17px; }
.ie10 ._55sg > input:focus:checked + span::before, .gecko ._55sg > input:focus:checked + span::before { background-image: url('s3omliaahhx.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -17px -34px; }
.ie10 ._55sg > input:disabled:checked + span::before, .gecko ._55sg > input:disabled:checked + span::before { background-image: url('s3omliaahhx.png'); background-repeat: no-repeat; background-size: auto auto; background-position: -17px -51px; }
._5yk1 { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(189, 199, 216); box-sizing: border-box; cursor: text; font-family: Helvetica,Arial,sans-serif; font-size: 11px; padding: 3px; }
._5rp7, ._5rpb, ._5rpu { height: inherit; text-align: initial; }
._5rp7 { position: relative; }
._5rpb { background-color: rgba(255, 255, 255, 0); border-left: 0.1px solid transparent; position: relative; z-index: 1; }
._1p1t { color: rgb(144, 148, 156); position: absolute; z-index: 0; }
._1mf { position: relative; white-space: pre-wrap; }
._1mj { direction: ltr; text-align: left; }
._3kp_._3kq6::before { left: -36px; position: absolute; text-align: right; width: 30px; }
._3kp_._3kq7::before { position: absolute; right: -36px; text-align: left; width: 30px; }
._3kp_::before { content: counter(ol0, decimal) ". "; counter-increment: ol0; }
._3kp_._3kq2::before { content: counter(ol1, decimal) ". "; counter-increment: ol1; }
._3kp_._3kq3::before { content: counter(ol2, decimal) ". "; counter-increment: ol2; }
._3kp_._3kq4::before { content: counter(ol3, decimal) ". "; counter-increment: ol3; }
._3kp_._3kq5::before { content: counter(ol4, decimal) ". "; counter-increment: ol4; }
/* ::::: https://www.facebook.com/rsrc.php/v3/yG/r/NjgZHNhVC1j.css ::::: */

*::-moz-placeholder, :-moz-placeholder { color: rgb(144, 148, 156); }
:focus::-moz-placeholder, :focus:-moz-placeholder { color: rgb(190, 194, 201); }
.no_js *::-moz-placeholder, .no_js :-moz-placeholder { color: rgb(0, 0, 0); }
body { overflow-y: scroll; }
@font-face {
	font-family: "San Francisco";
	font-weight: 300;
	src: local("-apple-system");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: local(".SFNSText-Regular");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 500;
	src: local("-apple-system");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 600;
	src: local("-apple-system");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 700;
	src: local(".SFNSText-Semibold");
}
@font-face {
	font-family: "San Francisco";
	font-weight: 800;
	src: local("-apple-system");
}
@font-face {
	font-family: "Segoe UI Historic";
	src: local("Arial");
	unicode-range: U+530-5F4, U+10A0-10FF;
}
@font-face {
	font-family: "Segoe UI Historic";
	font-weight: 700;
	src: local("Arial Bold"), local("Arial");
	unicode-range: U+530-5F4, U+10A0-10FF;
}
#rightCol ._5rzs._5v6d ._5v6e > .pagelet:first-child > div:first-child .uiHeader.uiSideHeader, #rightCol ._5v6e .pagelet:not(:empty) .uiHeader { border-width: 0px; padding-top: 0px; }
#rightCol ._5v6e .pagelet .uiHeader, #rightCol ._5v6e .pagelet:not(:empty) ~ .pagelet .uiHeader, #rightCol ._5v6e .pagelet:not(:empty) ~ div .pagelet .uiHeader { border-top-width: 1px; padding-top: 12px; }
._5vb_ .home_right_column .fbFeedTicker .ticker_container::after, ._5vb_ .home_right_column .fbFeedTicker .ticker_container::before { background-color: rgba(0, 0, 0, 0.02) ! important; content: ""; display: block; height: 1px; left: 0px; pointer-events: none; position: absolute; width: auto; z-index: 99; }
._5vb_ .home_right_column .fbFeedTicker .ticker_container::before { box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1) inset; right: 0px; top: 0px; z-index: 2; }
._5vb_ .home_right_column .fbFeedTicker .ticker_container::after { bottom: 0px; box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1) inset; right: 0px; }
._5vb_ .home_right_column .fbFeedTicker .contentBefore::before, ._5vb_ .home_right_column .fbFeedTicker .contentAfter::after { height: 3px; }
@media not all, (min-resolution: 2dppx) {
}
.uiButton input::-moz-focus-inner { border: 0px none; padding: 0px; }
.uiButtonOverlay::before { background-color: rgba(0, 0, 0, 0.02); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
.uiButtonOverlay:hover::before { background-color: rgba(0, 0, 0, 0.08); }
.uiButtonDepressed:not(.uiButtonSpecial):not(.uiButtonConfirm) .uiButtonText, .uiButtonDepressed:not(.uiButtonSpecial):not(.uiButtonConfirm) input { color: rgb(64, 128, 255); }
._2yq ._4-u2::before { border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(229, 230, 233) rgb(223, 224, 228) rgb(208, 209, 213); border-radius: 4px; bottom: -1px; content: ""; left: -1px; pointer-events: none; position: absolute; right: -1px; top: -1px; }
