body {
    background-color: #130d0a;
}

.content {
    background-color: #130d0a; /* giống màu body */
    height: 110vh;
}

.wrapper {
    /* max-width: 900px; */
}

#hero {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.layer {
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* bằng chiều cao #hero */
    position: fixed;
    z-index: -1;

    display: flex;
    justify-content: center;
    line-height: 300px;
    font-size: 8vw;
    text-transform: uppercase;
}

.layer-bg {
    background-image: url('../images/ilu_bg.jpg');
    background-size: 100% 100%;
}

.layer-1 {
    background-image: url('../images/ilu_03.png');
    background-size: auto;
    background-position: left bottom;
}

.layer-2 {
    background-image: url('../images/ilu_02.png');
    background-size: auto;
}

.layer-3 {
    background-image: url('../images/ilu_man.png');
    background-size: 50% auto;
    background-position: right bottom;
}

.layer-4 {
    background-image: url('../images/ilu_01.png');
    background-size: auto;
}

.layer-overlay {
    background-image: url('../images/ilu_overlay.png');
    background-size: auto;
}
