:root {
    --headerHeight: 40px;
}
body {
    /* same as header height */
    padding-top: var(--headerHeight);
    color: transparent;
}

header {
    position: fixed;
    background: #f5b335;
    height: var(--headerHeight);
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

/* we'll add this class using javascript */
.nav-hide {
    top: calc(-1 * var(--headerHeight));
}

main {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPklEQVQYV2O8dOnSfwYg0NPTYwTRuAAj0QqxmYBNM1briFaIzRbi3UiRZ75uNgUHGbfvabgfsHqGaIXYPAMAD8wgC/DOrZ4AAAAASUVORK5CYII=) repeat;
    height: 2000px;
}

footer {
    background: #ddd;
}

.float-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: red;
    height: 66px;
    width: 66px;
}