.pull-left {
    float: left;
}

.main-contents {
    max-width: 980px;
}

.content01 {
    margin-left: 50px;
    margin-top: 136px;
}

.content02 {
    margin-top: -23px;
    margin-left: 45px;
    margin-right: 79px;
}

.content03 {
    margin-top: 136px;
}

.content04 {
    margin-left: 155px;
    margin-top: 136px;
}

.content05 {
    margin-left: -117px;
    margin-top: -134px;
}

.content06 {
    margin-left: -60px;
    margin-top: 136px;
}

.grow {
    display: inline-block;
    transform: translateX(0) scale(0.8);
    transition-duration: 0.3s;
    transition-property: transform;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.grow:hover,
.grow:focus,
.grow:active {
    transform: scale(1.0);
}
