// https://viblo.asia/p/huong-dan-responsive-thanh-navbar-chi-bang-css-don-gian-naQZRy3XKvx
html {
    font-size: 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    display: none;
}

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    justify-content: content;
    align-items: center;
}

.nav__link {
    padding: 2rem;
}

.nav__bar-btn {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

.nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    background-color: #fff;
    // Ẩn bên trái màn hình
    // Hiệu ứng chuyển động slide sang phải
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
}

.nav__mobile-link {
    display: block;
    padding: 1rem;
}

.nav__mobile-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}

.nav__input:checked ~ .nav__mobile {
    // Di chuyển mobile sang phải (để hiển thị)
    transform: translateX(0);
}

.nav__input:checked ~ .nav__overlay {
    // Hiển thị overlay
    display: block;
}

@media (max-width: 1023px) {
    .nav__bar-btn {
        // Hiển thị icon bars
        display: block;
    }

    .nav__pc {
        // Không hiển thị PC
        display: none;
    }
}
