.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

.font-size-1\.25vw {
    font-size: 1.25vw;
}


.prev-button:hover,
.next-button:hover {
    opacity: 1;
}


.viewer {
    min-height: 100vh;
}