.kiwi-logo {
    width: 100px;
    height: 82px;
    background-image: url(../images/kiwi.svg);
    background-size: 100px 82px;
	background-color: #777;
}

.kiwi-logo:hover {
    background-color: #09b39c;
}

.twitter-logo {
	width: 48px;
    height: 48px;

    display: inline-block;

    background-image: url("../images/logo-twitter.svg");
	background-size: cover;
	background-color: #777;
	transition: background-color 0.2s linear;
}

.twitter-logo:hover {
    background-color: #2ba9e1;
}

.kiwi {
    fill: #94d31b; 
}

.kiwi:hover {
    fill: #ace63c; 
}

.ground:hover {
    filter: url(#pictureFilter);
}

ellipse:hover {
    fill: red;
}

#demo svg {
    max-width: 100%;
}

.map-tooltip {
    position: absolute;
    z-index: 2;
    display: none;
    font-size: 15px;
    width: 100px;
    height: auto;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px #666;
    background: rgba(52,188,157, 0.8);
}

#map svg {
    max-width: 100%;
}

#map path:hover {
	fill: #00F;
}

#countries svg {
    width: 100%;
    height: auto;
}

#countries path {
    fill: lightgray;
    stroke: white;
}

#countries path:hover {
    fill: gray;
}

.icon {
    width: 1em;
    height: auto;
    vertical-align: baseline;
}

