.wrapper {
    overflow: hidden;
}

.sliding-background {
    /* Kích thước ảnh là 1692x500, 1692 * 3 = 5076 */
    background: url("sliding-background-wwf.jpg")
        repeat-x;
    height: 500px;
    width: 5076px;
    animation: slide 60s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}
