.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    z-index: 100;
}

.base-image {
    filter: brightness(0.5);
}
