#anagram {
    position: relative;
    background-color: #222222;
    height: 300px;
    width: 100%;
}

#anagram span {
    position: absolute;
    color: yellow;
    transition: all 0.7s;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
}